a:link 
{ 
 text-decoration:none; 
}

h1 {
    color: #901C1C;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 0px;
}

h2 {
    color: #D3573C;
    font-weight: 400;
    font-size: 36px;
    line-height: 0px;
}

h3 {
    color: #901C1C;
    font-weight: 400;
    font-size: 13px;
}

p{
    font-weight: 400;
    font-size: 10px;
    line-height: 0px;
}

.profil-info-price{
    color: #757575;
}

.photograph-info h1{
    font-size: 64px;
    color: #D3573C;
}

.photograph-info h2{
    font-size: 24px;
    color: #901C1C;
}

.photograph-info p{
    font-size: 18px;
    color: #525252;
}


.section-stat p{
    font-weight: 500;
    font-size: 24px;
}

/* Card photo/video */
.card h3{
    font-weight: 400;
    font-size: 24px;
}

.card p{
    font-size: 16px;
    color: #911C1C;
}

.card i{
    font-size: 16px;
    color: #911C1C;
}

.card-info-like p{
    font-size: 24px;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
}

.card-info-like i{
    font-size: 24px;
}

.card-info-like:hover p{
    color: #DB8876;
    transition: all 0.6s;
}


.card-info-like:hover i{
    color: #DB8876;
    transition: all 0.6s;
}


/* Modal */
.contact_modal_titre{
    color: black;
    text-align: left;
    font-size: 64px;
    line-height: 74px;
    margin-top: -20px;
}

#erreur{
    color: #901C1C;
    font-size: 16px;
}

/* Lightbox */
.lightbox_modal_media h1{
    font-weight: 400;
    font-size: 24px;
    color: #911C1C;
}

/* custom select element */

#filtre-titre{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: start;
    color: #000000;
}

.custom-select-element h2{
    color: #fff;
    font-size: 18px;
}