/* HOME PAGE */
.photographer__avatar {
    text-align: center;
    border:10px solid rgba(255,255,255,1);
    
}
.photographer__avatar-name {
    margin:0;
}

.photographer__avatar-picture {
    border-radius: 50%;
    object-fit: cover;
}

.photographer__infos {
    text-align: center;
}

.photographer__infos-city-country {
    color: #901C1C;
    margin-top: 0;
    margin-bottom: 0;
}

.photographer__infos-tagline {
    margin-top: 0;
    margin-bottom: 0;
}

.photographer__infos-price {
    margin-top: 0;
    margin-bottom: 0;
}
