#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 50;
    display: none;
    justify-content: space-around;
    align-items: center;
}
#lightbox.active {
    display: flex;
}
button {
    background-color: inherit;
    border: none;
}

.lightbox__next, .lightbox__prev {
    color: #911C1C;
    height: 80%;
    font-size: 48px;
    cursor: pointer;
    opacity: 0.5;
    transition: .3s;
    margin: 0 2rem;
}

.lightbox__next:hover,
.lightbox__prev:hover{
    opacity: 1;
}

.lightbox__prev {
    right: auto;
    left: 0;
}

.mediaCard{
    display: none;
    flex-direction: column;
    opacity: 0;
}

.mediaCard h2 {
    margin-left: 2rem;
    margin-top: 0;
    color: #911C1C;
}

.container {
    display: flex;
    height: 95%;
    padding: 1rem;
}

.lightboxMedias {
    display: none;
    overflow: hidden;
    padding: 2rem;
    flex-direction: column;
    transition: opacity .5s;
}
.lightboxMedias img {
    max-width: 1050px;
    height: 800px;
    object-fit: cover;

}
.lightboxImg {
    display: flex;
    opacity: 1;
    justify-content:center ;
}
#lightbox video {  
    object-fit: cover;
    max-width: 1050px;
    max-height: 800px;
}


.lightbox__close {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    cursor: pointer;
    z-index: 100;
    color: #911C1C;
    background: url(../assets/svg/cross.svg) center center / 100% 100%;
    opacity: 0.7;
    transition: .3s;
}
.lightbox__close:hover {
    opacity: 1;
}
