#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
}
#lightbox.active {
    display: flex;
}
button {
    background-color: inherit;
    border: none;
}
.lightbox__next, .lightbox__prev {
    color: #911C1C;
    height: 100%;
    font-size: 48px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.5;
    transition: .3s;
    margin: 0 20rem;
}

.lightbox__next:hover,
.lightbox__prev:hover{
    opacity: 1;
}

.lightbox__prev {
    right: auto;
    left: 0;
}
.lightbox__container {
    margin: 20px;
}
#lightbox img {
    width: 1050px;
    height: 900px;
    object-fit: cover;
    display: none;
}
#lightbox img.lightboxImg {
    display: flex;
}
.lightbox__close {
    width: 42px;
    height: 42px;
    position: fixed;
    right: 20rem;
    top: 20px;
    cursor: pointer;
    z-index: 100;
    color: #911C1C;
    background: url(../assets/svg/cross.svg) center center / 100% 100%;
    opacity: 0.7;
    transition: .3s;
}
.lightbox__close:hover {
    opacity: 1;
}
