body {
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
  width: 90%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  margin-left: 70px;
}

.logo {
  height: 50px;
}

i {
  cursor: pointer;
}

.photographer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.link-wrapper h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.localization {
  color: #901C1C;
  font-size: 1.2em;
}

.price {
  color: #525252;
}

p {
  margin: 0 0 5px;
}

.accroche {
  text-align: center;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  height: 300px;
  font-size: 1.3em;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.photographer-name {
  font-size: 2em;
  color: #D3573C;
  text-align: left;
}

.photographer-location {
  color: #901C1C;
  text-align: left;
}

.photographer-tagline {
  color: #525252;
}

.photographer-img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  max-width: 200px;
}

.tri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 5vw;
  margin: 0 auto;
  gap: 40px;
  position: relative;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 5%;
  z-index: 2;
}

.tri ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tri ul li {
  padding: 20px 50px 20px 20px;
  background-color: #901C1C;
  color: white;
  font-weight: 500;
  margin-bottom: 1px;
  cursor: pointer;
}

.tri i {
  position: relative;
  right: 70px;
  top: 2px;
  color: white;
}

.tri i:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#media-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 8%;
}

.media-card {
  font-size: 1.2em;
}

.media-card img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.media-card video {
  margin-bottom: 10px;
}

.media-card .flex-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #901C1C;
}

.media-card i:hover {
  color: #d93939;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
}

.likes-counter {
  margin-right: .2em;
}

.video {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lightbox .fa-chevron-left {
  position: absolute;
  left: 5%;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #901C1C;
  font-size: 3em;
}

#lightbox .fa-chevron-right {
  position: absolute;
  right: 5%;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #901C1C;
  font-size: 3em;
}

#lightbox .fa-times {
  position: absolute;
  right: 4%;
  top: 2%;
  color: #901C1C;
  font-size: 3em;
}

#lightbox img {
  height: 85vh;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

#lightbox video {
  width: 80%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.fixed-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 185px;
  position: fixed;
  bottom: 0;
  right: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #D3573C;
}

.fixed-counter p {
  margin: 0;
  font-size: 1em;
}

body {
  font-size: 1em;
  color: black;
  font-weight: 600;
}

#contact_button,
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_button:hover, #contact_button:focus,
.contact_button:hover,
.contact_button:focus {
  color: black;
  background-color: #D3573C;
}

#contact_modal {
  position: fixed;
  z-index: 1000;
  top: 3%;
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal form label {
  color: #312e2e;
  font-size: 2em;
}

.modal form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

.modal form input {
  width: 100%;
  height: 2em;
  font-size: 1.4em;
  border: none;
  border-radius: 5px;
  margin-bottom: 2%;
}

.modal form textarea {
  width: 100%;
  height: 6em;
  font-size: 1.4em;
  border: none;
  border-radius: 5px;
  margin-bottom: 5%;
}

.modal form .thank-you {
  font-size: 1.4em;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
