body {
    font-family: "DM Sans", sans-serif;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
}

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
}

.logo {
    height: 50px;
}
/* debugg */
/* *{
    border: 1px red solid;
} */