#contact_modal {
    display: none;
}
main {
    width: 100%;
    margin: auto;
}

.photograph-header {
    background-color: #FAFAFA;
    padding:40px;
    margin: 0 100px;
}

.contact_button {
    font-size: 140%;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 200px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button :hover {
    background-color: #DB8876;
    color:red;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 270%;
    font-weight: normal;
    text-align: center;
}


.contactMe {
    font-size: 260%;
    font-weight: 800;
    text-align: left;
    margin: -20px 0px 20px 0px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size:150%;
}

form textArea {
    width : 100%;
    max-width: 100%;
    height : 180px;
    font-size: 150%;
    border : none;
    border-radius: 5px;
    resize : none;
    overflow-wrap:normal;
}

.photograph-header article {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

.photograph-header article h2 {
    color: #D3573C;
    font-size: 300%;
    margin : auto;
}

.photograph-header article .location {
    color: #901C1C;
    font-size: 150%;
}

.photograph-header article .tagline {
    color: black;
    font-size: 100%;
    margin-top: 10px;
}

.photograph-header article .price {
    color: black;
    font-size: 100%;
    font-weight: 800;
    padding: 10px;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border : 1px solid white;
    vertical-align: middle;
}
.anchored {
    position : sticky;
    right: 5px;
    bottom : 5px;
    background : #D3573C;
}
/*-------------éléments du formulaire modal message------------------*/
form .textArea {
    width : 100%;
    height : 150px;
    border : none;
    border-radius: 5px;
    resize : none;
    
}
.lowCase{
    text-transform: lowercase;
}

.formSuccessMessage {   /*message invisible apparition à la validation du formulaire**/
    text-align: center;
    font-size:160%;
    color: black;
    display: none;
}

.formSuccess .formSuccessMessage {
    display: block;
}

.formSuccess .contact_button {     /*disparition du bouton si formulaire valide********/
    display: none;
}

.formFail .contact_button {        /*lancement de l'animation hochement négatif si formulaire invalide*/
    animation: shake .15s 0s 3;
}

.formFail .formData[data-error-visible="true"] .text-control {
    animation: shake .15s 0s 3;
}   

@keyframes shake {
    0%{transform:translateX(0);}
    25%{transform:translateX(-20px);}
    75%{transform:translateX(20px);}
    100%{transform:translateX(0);}
}
@-webkit-keyframes shake {
    0%{transform:translateX(0);}
    25%{transform:translateX(-20px);}
    75%{transform:translateX(20px);}
    100%{transform:translateX(0);}
}
.formData[data-error]::after {   /*positionnement message d'erreur selon input***/
    content: attr(data-error);
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    text-shadow: red 2px 2px;
    display: block;   
    margin-top: -9px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 3px solid red;
    border-bottom: 22px solid red;
    background-color: rgb(255, 180, 180);
    background-image: url("../assets/icons/sadface-red.png");
    background-repeat: no-repeat;
    background-position: bottom 5px right 5px;
    background-size: 60px 60px;
  }
  .formData[data-error-visible="false"] .text-control {
    border: 3px solid green;
    background-color: rgb(180, 255, 180);
    background-image: url("../assets/icons/happyface-green.png");
    background-repeat: no-repeat;
    background-position: bottom 5px right 5px;
    background-size: 60px 60px;
  }

  .btn-close {         /*bouton invisible apparition à la validation du formulaire****/
    background: green;
    color: #fff;
    display: none;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 160%;
    padding: 12px 82px;
    border: 0;
  }
/*-------------éléments du formulaire tri------------------*/
.sort-selection {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
}  

.sort-selection label {
    display: inline;
    font-size: 140%;
    font-weight: 700;
    width: 7rem;
    margin-right: 1rem;
    padding-top:10px
}

#sort-select {
    display: inline;
    font-size: 140%;
    font-weight: 600;
    color: white;
    padding: 11px;
    min-width: 180px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    border-bottom:1px solid white;
    cursor: pointer;
}
/*-------------éléments de l'affichage galerie------------------*/


.galerie-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.galerie-section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.galerie-section img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 2px;
    border : 2px solid white;
}