#contact_modal {
    display: none; 
    position: absolute;
    width: 669px;
    height: 900px;
    top: 50%;
    left: 50%;
    bottom: 0;
    background-color: #DB8876;
    border-radius: 5px;
    padding: 35px;
    z-index: 3;
    margin-top: -450px;
    margin-left: -335px;
}

#contact_modal_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    margin: auto;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: relative;
    gap: 60px;
}

.modal header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

.photograph_header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding-left: 50px;
}

.photographer_main_title {
    color: var(--secondary);
    font-family: var(--photographer-main-title-font-family);
    font-size: var(--photographer-main-title-font-size);
    font-style: var(--photographer-main-title-font-style);
    font-weight: var(--photographer-main-title-font-weight);
    line-height: var(--photographer-main-title-line-height);
}

.city_of_country_of {
    color: var(--primary);
    font-family: var(--city-of-country-of-font-family);
    font-size: var(--city-of-country-of-font-size);
    font-style: var(--city-of-country-of-font-style);
    font-weight: var(--city-of-country-of-font-weight);
    line-height: var(--city-of-country-of-line-height);
}

.photographer_tagline {
    color: var(--dark-grey);
    font-family: var(--photographer-tagline-font-family);
    font-size: var(--photographer-tagline-font-size);
    font-style: var(--photographer-tagline-font-style);
    font-weight: var(--photographer-tagline-font-weight);
    line-height: var(--photographer-tagline-line-height);
}

.img_wrapper {
    height: 200px;
    width: 200px;
}

.img_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.filter {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-left: 100px;
}

.filter_title {
    color: var(--black);
    font-family: var(--photographer-filter-title-font-family);
    font-size: var(--photographer-filter-title-font-size);
    font-style: var(--photographer-filter-title-font-style);
    font-weight: var(--photographer-filter-title-font-weight);
    line-height: var(--photographer-filter-title-line-height);
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* on cache le contenu initalement */
.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
}
/* le contenu apparait au survol */
.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .chevron {
    transform: rotate(180deg);
    transition: transform 300ms;
}

.dropdown_btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.dropdown_menu {
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 11px;
        width: 170px;
        height: 70px;
        border: none;
        background-color: #901C1C;
        border-radius: 5px;
        cursor: pointer;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
}

.chevron {
    width: 32px;
    height: 32px;
    color: white;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form legend {
    display: none;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-family: 'DM sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: var(--black);
}

fieldset {
    border: none;
}

textarea {
    width: 100%;
    height: 170px;
}

.portfolio_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 95px;
    padding-top: 84px;
    margin: 0 100px ;
}

.media_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.like_icon {
    cursor: pointer;
}

.media_wrapper {
    width: 350px;
    height: 300px;
    background-color: transparent;
    cursor: pointer;
}

.media_itself {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.media_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
}

.media_title {
    font-family: var(--media-title-font-family);
    font-size: var(--media-title-font-size);
    font-weight: var(--media-title-font-weight);
    font-style: var(--media-title-font-style);
    line-height: var(--media-title-line-height);
    color: var(--primary);
}

.sticky_banner {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--secondary);
    border-radius: 5px;
    width: 376px;
    height: 89px;
    margin-right: 36px;
    padding: 31px 21px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    font-family: var(--sticky-banner-font-family);
    font-size: var(--sticky-banner-font-size);
    font-weight: var(--sticky-banner-font-weight);
    font-style: var(--sticky-banner-font-style);
    line-height: var(--sticky-banner-line-height);

}

.total_likes_container {
    display: flex;
    gap: 3px;
}

.like_container {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.nav_btn {
    width: 96px;
    height: 96px;
    cursor: pointer;
}

.lightbox {
    background-color: #FAFAFA;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.media_viewer_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}

.media_viewer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closing_lightbox_btn {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.media_viewer_wrapper img, .media_viewer_wrapper video {
    max-height: 90vh; 
    object-fit: contain; 
    width: 100%;
    height: auto;
}

.media_title_in_lightbox_container {
    position: absolute;
    bottom: 1%;
}

.media_title_in_lightbox {
    position: relative;
}

