main {
    max-width: 1400px;
    margin: auto;
}

/* Header */

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.photograph-header img {
    order: 2;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 0 20px;
}
.photograph-header div {
    order: -1;
}
.photograph-header div h2 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 500;
}
.photograph-header div h3 {
    color: #901C1C;
    font-size: 24px;
    margin-top: 5px;
    padding: 5px 0;
    font-weight: 400;

}
.photograph-header div h4 {
    font-size: 18px;
    color: #757575;
    padding: 15px 0;
    font-weight: 400;

}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    background-color: #DB8876;
    color: black;
}

/* Select */

.select-element{
    margin: 30px 100px;
}
.select-element p {
    font-size: 18px;
    font-weight: 700;
}
.select-container {
    display: inline-block;
    position: relative;
    width: 150px;
}
.select-container select {
    display: none;
}
.select-selected {
    padding: 15px 16px;
    background-color: #901C1C;
    position: relative;
}
.select-selected::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #fff;
    font-size: 20px;
    pointer-events: none;
    z-index: 2;
    transition: all 250ms ease-in-out;
}
.select-selected.select-arrow-active::after {
    transform: translate(-50%, -50%) rotate(90deg) scaleX(-1);
}
.select-selected.select-arrow-active { 
    border-radius: 5px 5px 0 0;
}
.select-selected:not(.select-arrow-active) {
    border-radius: 5px ;
}
.select-items {
    position: absolute;
    background-color: #901C1C;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0px 16px 8px 16px;
    border-radius: 0 0 5px 5px;
} 
.select-items div,.select-selected {
    color: #ffffff;
    padding: 15px 16px;
    height: 25px;
    cursor: pointer;
}
.select-items div {
    padding-left: 0;
}
.select-items div:nth-child(2){   
    border-top: 1px solid white;
    border-bottom: 1px solid white;
} 
.select-hide {
    display: none;
}  
.select-hide-option {
    display: none;
}



/* Media */

.media-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 50px 100px 100px 100px;
    max-width: 1200px;
}
.media_image {
    max-width: 360px;
    height: 300px;
    margin: 0;
    cursor: pointer;
}
.media_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.media_video {
    max-width: 360px;
    height: 300px;
    margin: 0;
    cursor: pointer;
}
.media_video video {
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.media_info {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #911C1C;
    padding: 10px 0;
    max-width: 360px;
}
.media_info h2 {
    display: inline-block;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.media_likes {
    display: inline-block;
    white-space: nowrap;
}

/* Contact form */

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #C4C4C466;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 1% auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) -11px 10px 15px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

.modal-photographer-name {
    font-size: 60px;
    font-weight: normal;
    align-self: start;
    margin-bottom: 30px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 1px;
    font-size: 20px;
    height: 170px;
}

.input-valid {
border: 2px solid #279e7a;
}

.input-error {
border: 2px solid #fe142f;
}

small {
font-size: 13px;
color: white;
margin-top: 3px;
}

/* Likes and Price */

.footer {
    height: 100px;
}
.footer-info {
    height: 70px;
    width: 376px;
    position: fixed;
    right: 5%;
    bottom: 0;
    background: #DB8876;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}
p {
    display: inline;
    padding-right: 10px;
}

.fa-heart {
    cursor: pointer;
}

/* Lightbox */

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #C4C4C466;
    display: none;
}
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightbox-container {
    background-color: white;
    width: auto;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lightbox-media {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-height: 100%;
}
.lightbox-media .prev,
.lightbox-media .next {
  font-size: 36px;
  color: #911C1C;
  cursor: pointer;
  align-self: center;
  margin: 35px;
}

.lightbox-media .lightbox-image{
    display: flex;
    flex-direction: column;
    max-height: 80%;
    max-width: 100%;
    margin-top: 57px;
}
.lightbox-image img { 
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}
.lightbox-image video { 
    max-width: 100%;
    max-height: 100%;
}
.new_media_title {
    font-size: 24px;
    color: #911C1C;
    float: left;
    padding: 10px;
}
.lightbox-close img {
    position: absolute;
    width: 30px;
    right: 2%;
    top: 2%;
    cursor: pointer;
    margin: 25px;
}

