#contact_modal {
    display: none;
}

main {
    width: auto;
    height: auto;
}

.photograph-header {
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
    padding: 2rem;
    height: auto;
    width: auto;
}
.photograph_info {
    width: 33%;
}

.photograph_info h1 {
    font-size: 4rem;
    color: #D3573C;
}

.tagline p {
    color: #525252;
}


/*SORT PART*/
.sortBy {
    display: flex;
    margin: 19px 100px;
}

.sortBy_text {
   margin-right: 25px;
   font-weight: bold;
}

/*TEST DROPDOWN*/
.dropdown_button{
    background-color: #901C1C;
    color: white;
    padding: 11px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    color: #ffffff;
    margin-top: -2px;
    width: 100%;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 5px 5px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid;
  }
  
  .dropdown-content a:hover {
      background-color: #DB8876;
      color: #ffffff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown_button {
    background-color: #DB8876;
  }

  /* - - - - -  - -  - - - */

  

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;
} 

.contact_button:hover {
    background-color: #DB8876;
    color: #000000;
}

/*THUMBNAIL*/

.thumbnail {
    margin: 0 100px;
}

.thumbnail_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
}

.thumbnail_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 350px;
}

.thumbnail_section article h2 {
    color: #901C1C;
    font-size: 1.5em;
}

.thumbnail_section article img {
    border-radius: 5px;
    object-fit: cover;
    height: 350px;
    width: 100%;
}

.thumbnail_section article video {
    border-radius: 5px;
    object-fit: cover;
    height: 350px;
    width: 100%;
}

/*MODAL*/

.modalForm {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: #00000039;
    z-index: 99;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: block;
    padding: 35px;
    margin: 69px auto 55px auto;
    /*
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    z-index: 1;
    */
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    color: #000000;
}

/* NAME FORM*/

.nameContent p{
    font-size: 64px;
    color: #000000;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

.picture_photographer img {
    border-radius: 100px;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.informationsContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.likes {
    display: flex;
    align-items: center;
}

.likes img {
    height: 17px;
    width: 18px;
    color: #901C1C;
    padding: 0.5rem;
}

.callToAction {
    display: flex;
    justify-content: flex-end;
}
.callToAction_section {
    background-color: #DB8876;
    border-radius: 5px;
    bottom: 0;
    margin-right: 36px;
    position: fixed;
    width: 376px;
    height: 89px;
}

.ctaContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.ctaContent p{
    font-size: 24px;
    font-weight: 500;
}

.pricePhotographer {
    display: flex;
    align-items: center;
}


/* LIGHTBOX */

.lightbox {
    background-color: #E5E5E5;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.lightboxContent {
    display: flex;
}

.lightbox img{
    width: 95%;
    height: 95%;
    object-fit: contain;
    /*
    margin: 1rem;
    */
    border-radius: 5px;
}

.lightbox.show {
    display: block;
}
.closeCross {
    position: fixed;
    right: 0;
    margin: 3rem;
}

.closeCross img {
    width: 42px;
    height: 42px;
    fill: #901C1C;
}

.arrow {
    height: auto;
    font-size: 100px;
    color: #901C1C;
    padding: 350px 15px 0 15px;
}

.lightboxContentCenter {
    /*
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    width: 90%;
    height: 90vh;
    padding: 3rem;
}
.lightboxTitlePosition {
    left: 41%;
    position: fixed;
    
}