#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    padding:40px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 270%;
    font-weight: normal;
    text-align: center;
}


.contactMe {
    font-size: 260%;
    font-weight: 800;
    text-align: left;
    margin: -20px 0px 20px 0px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textArea {
    width : 100%;
    height : 205px;
    border : none;
    border-radius: 5px;
    resize : none;
}

.photograph-header article {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

.photograph-header article h2 {
    color: #D3573C;
    font-size: 300%;
    margin : auto;
}

.photograph-header article .location {
    color: #901C1C;
    font-size: 150%;
}

.photograph-header article .tagline {
    color: black;
    font-size: 100%;
    margin-top: 10px;
}

.photograph-header article .price {
    color: black;
    font-size: 100%;
    font-weight: 800;
    padding: 10px;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border : 1px solid white;
    vertical-align: middle;
}
.anchored {
    position : sticky;
    right: 5px;
    bottom : 5px;
    background : #D3573C;
}
