#contact_modal {
    display: none;
}

header a {
    display: flex;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.section-photographe {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-photographe div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.section-photographe div:first-child{
    flex-direction: column;
}

.section-photographe div:first-child h1{
    font-size: 64px;
    color: #D3573C;
    margin: 0;
}

.section-photographe div:first-child p:first-of-type{
    font-size: 18px;
    margin-bottom: 20px;
}

.section-photographe div:first-child p:first-of-type{
    font-size: 24px;
    color: #901C1C;
}

.section-photographe div:last-child{
    justify-content: right;
}

.section-photographe div:last-child img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

