#contact_modal {
    display: none;
    width: 100%;
	height: 100%;
	position: fixed;
	top: 5%;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding-inline: 50px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

select {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

select option {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.media-filter {
    margin : 20px 100px 20px 100px;
    font-weight: bold;
}

.media-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 100px;
    margin: 0 100px;
}

.media-section img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    
}

.media-section video {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.media-infos {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}

.media-infos p {
    margin-top: 5px;
    color: #901C1C;
    font-size: 20px;
}

.likes-number {
    cursor: pointer;
}