#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  max-width: 1240px;
  margin: 0 100px;
  padding: 0 50px;
}

.photograph-info article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.photograph-profilephoto img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.photograph-location {
  color: #901c1c;
  font-size: 24px;
  margin: 0;
}

.photograph-tagline {
  color: #000;
  font-size: 18px;
  margin: 0 3px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*CSS SORTED LIST*/

.sorted-list {
  display: flex;
  align-items: center;
  margin: 50px 120px;
  gap: 25px;
}

#sort-label,
.sort-option,
#sort-option-container,
#sort-button {
  font-size: 18px;
  font-weight: 700;
}

.sort-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#sort-option-container {
  display: none;
  border-radius: 0 0 5px 5px;
  background: #901c1c;
  padding: 0;
  text-align: left;
  color: white;
  gap: 30px;
  margin: -4px 0 0;
  width: 100%;
  box-sizing: content-box;
  flex-grow: 1;
}

.sort-option {
  color: white;
  border-top: white 2px solid;
  margin: 14px 20px;
  padding-top: 14px;
  cursor: pointer;
}

.display-none {
  display: none;
}

#sort-button {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  background: #901c1c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 18px;
  width: 100%;
  flex-grow: 1;
  font-family: "DM Sans", sans-serif;
}

.arrow-down {
  margin-left: auto;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  font-size: 18px;
  font-weight: 700;
  transform: rotate(45deg);
}

.arrow-up {
  margin-left: auto;
  border: solid white;
  border-width: 3px 0 0 3px;
  display: inline-block;
  padding: 3px;
  font-size: 18px;
  font-weight: 700;
  transform: rotate(45deg);
}

/*CSS MEDIAS*/

.media {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  justify-content: space-around;
  gap: 95px;
}

.media-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  height: 350px;
}

.media-link {
  width: 100%;
  height: 80%;
  cursor: pointer;
}
.media-img,
.media-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.media-description {
  display: flex;
  box-sizing: border-box;
  color: #901c1c;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.media-title {
  font-size: 24px;
}

.likes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.likes-icon {
  margin-bottom: -3px;
}

.liked path {
  fill-opacity: 1;
}

/*CSS LIKES UPDATED*/

#likes-and-price-info {
  position: fixed;
  display: flex;
  justify-content: end;
  bottom: 0;
  right: 36px;
  z-index: 3;
}

.likes-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

#likes-count-container {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  padding: 20px 34px;
  border-radius: 5px;
  background: #db8876;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.price-by-day {
  margin: 0;
}
