#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
}

.headerMain {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.colOne, .colTwo, .colThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 2rem;
}

.photograph-header .headerName {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.photograph-header .headerLocation {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.photograph-header .headerTagline {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
}

.colOne {
    align-items: start !important;
}

.colThree img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}