/* ****************** START DESCRIPTION DU PHOTOGRAPHE ******************  */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
}

.photograph-header h1 {
    color: var(--secondary-color);
    font-size: 64px;
}

.location {
    color: var(--primary-color);
    font-size: 24px;
}

.price-fixed {
    position: fixed;
    bottom: 0;
    right: 450px;
    width: 376px;
    height: 50px;
    background-color: var(--price-fixed-color);
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
}

.tagline {
    font-size: 18px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 400ms ease;
}

.contact_button:hover,
.contact_button:focus {
    background-color: var(--secondary-color);
}

/* ****************** END DESCRIPTION DU PHOTOGRAPHE ******************  */

/* ****************** START GALLERIES DU PHOTOGRAPHE ******************  */
#media-container-main {
    display: flex;
    gap: 120px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#media-container-header {
    margin: 20px 0 50px 0;
}

.media-card {
    width: 350px;
    height: 300px;
}

.media-card img,
.media-card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-card-description {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: var(--primary-color);
    width: 350px;
    font-size: 24px;

}

/* .media-card-description>p:nth-child(1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.media-card-description>p:nth-child(2) {
    white-space: nowrap;
}

/* ******************  END GALLERIES DU PHOTOGRAPHE ******************  */

/* ****************** START MODAL ******************  */
#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2.25rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* ****************** END MODAL ******************  */