/*# sourceMappingURL=photographer.css.map */


main{
    position:relative;
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/* FINDER */
.selected:active{
#optionList{

    }
}
/* CONTACT MODAL */
#contact_modal {
  
    display: none;
    position:absolute;


        Width:669px;
        Height:900px;
        Top:62px;
        Left:385px;
        }
.modal {


    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    display: flex;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0rem;
}
/* formulaire */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/* CAROUSSEL */
.lightBox{

    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;

    #caroussel{
        position: relative;
        display:flex;
        box-sizing: border-box;
        width: 80%;
        height: 80%;
        border: solid red 5px;
        border-radius: 5px;
        background-color: white;
    
        z-index: 3;
     
     
     
     
        align-items: center;
        justify-content: space-between;
        padding: 35px;
    




            .sideSection{
                position:relative;
                display:flex;
                flex-direction: column;
                height: 100%;
                width: 10%;
                justify-content: center;
                .carousselButton{
                    color: #901C1C;
                    background-color: white;
                    font-size: 5rem;
                border:solid transparent;
           
                }
            /* close button */
            #closeButton{
                position:absolute;
                top:-2rem;
             left:50%;  
               transform: translate(-50%,0);
          
                
                font-size: 72px;
            }
            #fa-close{
                height: 20px;
                color: #901C1C;
                background-color: white;

            
            }
            }




            /* center section */
            #centerSection{
                height: 100%;
                width: 80%;


            #mediaSection{
                height: 100%;
                width:100%;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;

            // image or video
            .carousselMedia{
                object-fit:cover;
                height: 80%;
                width:100%;
               
            
                overflow: clip;
                
            }
            /* media name */
            figcaption{
                font-size: 24px;
                line-height: 31.25px;
                color: #911c1c;
                margin: 0.5em 0;
            }

            }
            }
    }
}

.finderZone{display:flex;
height:3rem;
}
.trierPar{
 display:flex;
font-family :'DM Sans';
font-Weight:700;
font-Size:18px;
line-height:23.44px;
justify-content: center;
align-items: center;
height: 4rem;
margin-left: 100px
}
#optionList{

    display:none;
    flex-direction:column;
    position:relative;
    bottom: 68px;

}
#checkbox{
    opacity: 0;
 
    position: absolute;
    
    display: block;
    width: 10rem;
    height: 4rem;
    font-size: 3rem;
    background-color:green;
    color:green;
}
#checkbox:checked~h2{
    color:blue
}
#checkbox:checked~div{
display:flex;
flex-direction: column;
}
.trieur{
position:absolute;
left:12rem;
z-index: 2;
}
.trieurElements{
    border:solid;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 20px;
    font-weight: bold;
    color: white;
   
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
  

}
.chevron{
    padding-left: 1rem;
}



