* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 30px 100px;
    display: flex;
}

#contact_modal {
    display: none;
    position: absolute;
    width: 100%;
    top: 10px;
}

.contact-header {
    display: flex;
    justify-content: space-between;
}

.hover:hover {
    background: #DB8876;
    color: black;
}

form div {
    width: 100%;
}
.logo {
    height: 50px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 0;
    order: 2;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 35px;
    margin: auto;
    z-index: 99;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    order: 1;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    order: 3;
}
/*****************************************************************/

.photograph-medias {
    margin: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vid + img{
    display: none;
}

.lightbox {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    display: none;
}

.totalLikesContainer > input, label {
    display: none;
} 
.remove {
    display: block;
} 

form label {
    display: block;
}