#contact_modal {
    display: none;
}

#main {
    width:1240px;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    max-width: 1240px;
    margin: 0 100px;
    padding: 0 50px;
}

.photograph-info article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.photograph-profilephoto img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photograph-location {
    color: #901C1C;
    font-size: 24px;
    margin: 0;
}

.photograph-tagline {
    color: #000;
    font-size: 18px;
    margin: 0 3px;
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


.media {
    display: flex;
    margin: auto;
    justify-content: space-around;
    gap : 95px;
}

.media article {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 350px;
    height: 350px;
}

.media article img, .media article video {
    object-fit: cover;
    height: 90%;
}

.media article div {
    display: flex;
    box-sizing: border-box;
}