#contact_modal {
  display: none;
}

main {
  max-width: 1400px;
  margin: auto;
}

.photograph-header {
  background-color: #fafafa;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.photograph-header-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photoFiltre {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 50px 20px;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 20px;
  gap: 50px;
}
.photo {
}
.photo img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: center center;
}
.photo-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #901C1C;
}
.photo-desc .titre {
}
.photo-desc .likes {
  display: flex;
  align-items: center;
}

.photograph-recap {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding: 0px 20px;
  position:fixed;
  bottom:0;
  right: 40px;
  z-index: 5;
  background-color: #DB8876;
  border-radius: 5px;
}
.photograph-recap-totalLikes {
  display: flex;
  flex-direction: row;
  align-items: center;
}




.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
