#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form .textArea {
    width : 100%;
    height : 205px;
    border : 5px solid blue;
    border-radius: 5px;
    resize : none;
}
.lowCase{
    text-transform: lowercase;
}

.formSuccessMessage {   /*message invisible apparition à la validation du formulaire**/
    text-align: center;
    color: #d1dbd8;
    display: none;
}
  
.formSuccess .formSuccessMessage {
    display: block;
}
  
.formSuccess .contact_button {     /*disparition du bouton si formulaire valide********/
    display: none;
}
  
.formFail .contact_button {        /*lancement de l'animation hochement négatif si formulaire invalide*/
    animation: shake .15s 0s 3;
}
  
@keyframes shake {
    0%{transform:translateX(0);}
    25%{transform:translateX(-20px);}
    75%{transform:translateX(20px);}
    100%{transform:translateX(0);}
}
@-webkit-keyframes shake {
    0%{transform:translateX(0);}
    25%{transform:translateX(-20px);}
    75%{transform:translateX(20px);}
    100%{transform:translateX(0);}
}
.formData[data-error]::after {   /*positionnement message d'erreur selon input***/
    content: attr(data-error);
    font-size: 0.9em;
    color: white;
    display: block;   
    margin-top: -6px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 3px solid red;
    background-color: #e54858;
  }
  .formData[data-error-visible="false"] .text-control {
    border: 3px solid green;
    background-color: lightgreen;
  }

  .btn-close {         /*bouton invisible apparition à la validation du formulaire****/
    background: #eb4242;
    color: #fff;
    display: none;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    border: 0;
  }
