#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 200px;
  margin: 0 100px;
  display: flex;
  width: 1250px;
  justify-content: space-around;
}
.contentHeader {
  display: flex;
  order: 0;
  flex-direction: column;
  align-self: center;
}

.imgPhotoPage {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  display: flex;
  align-self: center;
  order: 2;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-self: center;
  order: 1;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
