#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
}
.photograph-header img {
    grid-column: 33.33%;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}
.photograph-instruction {
    grid-column: 33.33%;
}
.photograph-header h2 {
    color: #D3573C;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    margin-bottom: 0;
}
.photograph-header h3 {
    color: #901C1C;
    font-size: 24px;
    font-weight: 500;
}
.photograph-header p {
    font-size: 18px
}
.contact_button {
    grid-column: 33.33%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}