#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    width:auto;
    margin: 0 100px;
    padding: 1em 3em;
}

.photograph-header h1{
    font-weight: 400;
    line-height: 83px;
    color: #D3573C;
    font-size: 64px;
    margin: 0px 0;
}

.photograph-img {
    object-fit:cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #bebebe;
}

.photograph-location {
    color: #901C1C;
    font-size: 24px;
    margin: 25px 0;
}