#contact_modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photograph-header {
  display: flex;
  background-color: #fafafa;
  height: 300px;
}
.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}
.photograph-header article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.photograph-header .tagline {
  color: #525252;
}
.media-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.media-section article {
  width: 25vw;
  margin-bottom: 1rem;
}
.media-section > article > img,
.media-section > article > video {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.media-section > article > div {
  display: flex;
  justify-content: space-between;
}
.media-section > article > div > div {
  display: flex;
  align-items: center;
}
.media-section h2 {
  color: #901c1c;
}
.likes p {
  color: #901c1c;
}
.likes i {
  width: 1rem;
  margin-left: 0.4rem;
  color: #901c1c;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/**
 ** Modal
 */

.modal {
  display: flex;
  width: 30rem;
  margin: auto;
  padding: 35px;
  background-color: #db8876;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.divContact {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.modal header img {
  cursor: pointer;
  width: 2rem;
}

.modal header h2,
.modal header p {
  font-size: 40px;
  font-weight: normal;
  margin: 0.4rem 0;
}
/**
 * *Formulaire de contact  
 */
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

form label {
  color: #312e2e;
  font-size: 18px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 0.8rem;
}

form input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.error {
  margin-top: 5px;
  color: #901c1c;
  font-size: 1em;
}
.invisible {
  display: none;
}

textarea {
  width: 100%;
  min-height: 13rem;
  font-size: 2rem;
  border-radius: 5px;
}

.selectMenu {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.selectMenu p {
  font-weight: bold;
  margin-right: 10px;
}
select {
  background-color: #901c1c;
  font-size: 1rem;
  padding: 2px 5px;
  width: 10rem;
  height: 3rem;
  color: white;
  border: none;
  border-radius: 5px;
}
.countLikes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0px;
  background-color: #db8876;
  width: 25rem;
  height: 4rem;
  border-radius: 5px 5px 0px 0px;
}
.countLikes span {
  margin-right: 0.4em;
}

/* 
  * Lightbox  * 
  */

.lightbox {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
}
.lightbox__next,
.lightbox__prev {
  border: none;
  background: url(../assets/images/arrow.svg) center center / 30px 48px
    no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
  cursor: pointer;
}

.lightbox__prev {
  left: 0;
  right: 0;
  transform: rotate(180deg);
}
.lightbox__close {
  background: url(../assets/images/close.svg) center center / 100% 100%
    no-repeat transparent;
  width: 42px;
  height: 42px;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 12;
  cursor: pointer;
}
.lightbox button {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s;
}
.lightbox button:hover {
  opacity: 0.5;
}
.lightbox__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lightbox__container h2 {
  color: #901c1c;
  font-weight: bold;
}
.lightbox__container img,
.lightbox__container video {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  animation: lightboxIn 0.5s;
}
@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
