.photographer_section {
    display:flex;
    gap: 200px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer_section article:hover {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
    cursor: pointer;
}

.photographer_section article:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
}
.photographer_section article > div > p:nth-child(2) {
    font-size: 13px;
}
.photographer_section article > div > p:nth-child(3) {
    font-size: 10px;
}
.photographer_section article > div > p:nth-child(4) {
    font-size: 9px;
    font-weight: 400;
}
/* #main > div > article:nth-child(2) > div > p:nth-child(2) */
.photographer_section article img,.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photographer_section article div>* {
    line-height: 0.5;
}

.photographer_section article div p:nth-child(2) {
    color: var(--primary-color);
}

.photographer_section article div p:nth-child(3) {
    font-weight: bold;
}
.photograph-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}