#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 36px;
}

.location__container {
  font-weight: bold !important;
}

.photographer-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photographer__name {
  margin: 0;
}
main img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.media-container {
  width: 26%;
}

.medias-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
  justify-content: space-between; /* Ajoute de l'espace entre les éléments */
  margin: 0 100px;
}

.medias-container img {
  margin-bottom: 10px; /* Ajoute de l'espace en bas de chaque élément */
  object-fit: cover;
  width: 100%;
  height: 22.5vw;
  border-radius: 5px;
}
.medias-container video {
  margin-bottom: 10px;
  object-fit: cover;
  width: 100%;
  height: 22.5vw;
  border-radius: 5px;
}
.media-title {
  color: #901c1c;
  font-weight: 700;
}
.price-tag {
  background-color: #d3573c;
  font-weight: bolder;
  width: 200px;
  position: fixed;
  right: 20px;
  bottom: 0px;
  text-align: right;
  padding: 15px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.dropdown {
  margin: 50px 0 100px 100px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.fa-chevron-up {
  position: absolute;
  top: 24px;
  right: 3px;
}
.fa-chevron-down {
  position: absolute;
  top: 25px;
  right: 3px;
  /* display: none !important; */
}
.dropdown-buttons {
  width: 150px;
  background-color: #901c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-buttons button {
  background-color: #901c1c;
  width: 80%;
  color: white;
  padding: 15px 10px;
  border: none;
  position: relative;
  cursor: pointer;
}
.not-displayed-options {
  display: none;
}
.all-options-displayed {
  display: block;
}
.dropdown-buttons .option2 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
