#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
}

.presentation {
    display: flex;
    flex-direction: column;
}

.presentation__name {
    color: #D3573C;
    margin: 0;
    font-size: 64px;
}

.presentation__location {
    color: #901C1C;
    font-size: 24px;
    margin-bottom: 19px;
}

.presentation__tagline {
    font-size: 18px;
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header__picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
    object-fit: cover;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}