.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.dropdown-span {
  margin-right: 15px;
  font-weight: 900;
}

.dropdown-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #901c1c;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 130px;
  height: 50px;
  padding-left: 10px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-toggle::before {
  content: url("../assets/icons/arrow_icon.svg");
  position: absolute;
  right: 8px;
  top: 15px;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  z-index: 2;
  filter: brightness(0) invert(1);
}

.dropdown-list {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 0%;
  border-radius: 5px;
  color: #fff;
  width: 130px;
  background-color: #901c1c;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.dropdown-list li {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 10px;
}

.dropdown-list li:hover {
  background-color: #d3576c;
  cursor: pointer;
  color: black;
}

.dropdown-list::before {
  content: url("../assets/icons/arrow_icon.svg");
  position: absolute;
  right: 8px;
  top: 15px;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  z-index: 2;
  filter: brightness(0) invert(1);
}

.dropdown-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 110px;
  left: 10px;
  border-bottom: 1px solid white;
}
