@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1400px;
  margin: auto;
  padding: 0px 20px;
}

h1 {
  color: #901c1c;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.tagFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.photographerTagFilter {
  cursor: pointer;
  border: 1px solid;
  border-radius: 15px;
  color: #901c1c;
  transition: all 0.3s ease-in-out;
}
.photographerTagFilter:hover {
  color: white;
  background-color: #901c1c;
}

.photographerTagFilter.active {
  color: white;
  background-color: #901c1c;
}

.photographerTagFilter p {
  font-weight: 600;
  font-size: 15px;
  padding: 0 8px;
  margin: 2px 0;
}

.photographer_section {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1400px;
  margin: auto;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
  margin: 0px;
}

.photographer-head {
  cursor: pointer;
}

.photographer-head-img {
  position: relative;
  overflow: hidden;
}
.photographer_section article img {
  display: inline;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.photographer_section .photographer-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer_section .photographer-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer_section .photographer-desc h3 {
  font-style: normal;
  font-weight: normal;
  color: #901c1c;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin: 0px;
}
.photographer_section .photographer-desc p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #000000;
  margin: 0px;
}
.photographer_section .photographer-desc h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: #757575;
  margin: 0px;
}

.photographerTags {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.photographerTag p {
  color: #901c1c;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid;
  border-radius: 15px;
  padding: 0 8px;
  margin: 5px 0;
}

@media only screen and (max-width: 1300px) {
  header {
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  header h1 {
    margin: 0;
  }

  .logo {
    margin-left: 0;
  }

  .photographer_section article img {
    height: 250px;
    width: 250px;
  }

  .photos {
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  header {
    justify-content: center;
  }

  .logo {
    margin-left: 0;
  }

  .photographer_section article img {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  .photographer_section {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 340px) {
  .photographer_section {
    padding-top: 200px;
  }
}
