@import url("photographer.css");
@import url("lightBox.css");



body {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  display: flex;

  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

h1 {
  color: #901c1c;
  margin-right: 5.56rem;
}

.logo {
  height: 2.78rem;
  margin-left: 7rem;
}

.photographer_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  width: 100%;
}

.photographer_section .photographersCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 0 0 60px 0;
}

.photographer_section .photographersCard a {
  text-decoration: none;
  cursor: pointer;
}

.photographer_section .figureContainer {
  margin: 0;
  text-align: center;
}

.photographer_section .imgContainer {
  display: flex;
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  margin-bottom: 1.67rem;
  justify-content: center;
}

.photographer_section .PortraitImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.photographer_section .artisteName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3573c;
  font-size: 2rem;
  font-weight: 500;
}

.UserInfosText .artisteLocation,
.photographer_section .artisteLocation {
  display: flex;
  justify-content: center;
  color: #901c1c;
  font-weight: 700;
  text-transform: capitalize;
  font-style: normal;
  font-size: 1rem;
}

.photographer_section .MoreInfos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 0px;
}

.UserInfosText .artistePunchline,
.photographer_section .artistePunchline {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 700;
  margin: 0.2rem;
  color: #525252;
}

.photographer_section .artistePricing {
  display: flex;
  justify-content: center;
  color: #757575;
  font-size: 0.7rem;
  margin: 0.2rem;
}

.imgPageLink {
  width: 100%;
  height: 100%;
}
