body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.photographer_section article a h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}
.photographer_section article a .portrait {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_section article aside {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.photographer_section article aside .location {
  color: #D3573C;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
.photographer_section article aside .quote {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.photographer_section article aside .price {
  color: #757575;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.cardMedia {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 335px;
  justify-content: space-between;
  overflow: hidden;
}
.cardMedia .media__aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-style: normal;
  font-weight: 400;
}
.cardMedia .photo, .cardMedia iFrame {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  height: 358px;
  padding: 0 100px;
}

.presentation__section {
  margin: 20px 0px;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.photograph-header .photographer__presentation {
  display: flex;
  flex-direction: column;
}
.photograph-header .photographer__presentation .photographer__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: #D3573C;
  margin-bottom: 10px;
  margin-top: 0;
}
.photograph-header .photographer__presentation .photographer__location {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
.photograph-header .photographer__presentation .photographer__quote {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}
.photograph-header .portrait {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.photo-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  color: #901C1C;
  justify-content: space-between;
  width: 100%;
}

.presentation__section {
  margin: 20px 0px;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.photograph-header .photographer__presentation {
  display: flex;
  flex-direction: column;
}
.photograph-header .photographer__presentation .photographer__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: #D3573C;
  margin-bottom: 10px;
  margin-top: 0;
}
.photograph-header .photographer__presentation .photographer__location {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
.photograph-header .photographer__presentation .photographer__quote {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}
.photograph-header .portrait {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

/*# sourceMappingURL=style2.css.map */
