@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

a {
  text-decoration: none;
}

p {
  margin: 2px 0;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer-section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer-section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer-link {
  text-align: center;
}

.name {
  margin: 10px 0 2px;
}

.portrait {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.location {
  font-size: 13px;
  color: #901c1c;
  margin: 2px 0;
}

.tagline {
  font-size: 10px;
}

.price {
  font-size: 9px;
  color: #757575;
}
