@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901c1c;
    margin-right: 100px;
    font-weight: 58 00;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 50px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article:hover{
    transform: scale(1.05);
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    cursor: pointer;
}
.photographer_section article:focus{
    transform: scale(1.05);
    animation-delay: 0.5s;
    cursor: pointer;
}
.photographer_section article div{
    text-align: center;
    width: 100%;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 45px;
    margin-bottom: 0%;
    font-weight: 300;
}
.photographer_section article h3 {
    color: #901c1c;
    font-size: 22px;
    font-weight: 300;
}

.photographer_section article h4 {
    color: black;
    font-size: 17px;
    font-weight: 300;
    padding-top: 0.2em;
}

.photographer_section article h5 {
    color: black;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.75;
    padding-top: 0.2em;
}
h5{
    margin-block-start:0em;
    margin-block-end: 0em;
}

.photographer_section article img {
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.photographer_section article a {
    text-decoration: none;
    width: 100%;
}
.photographer_section article a:focus {
    transform: scale(1.2);
}