@import url("photographer.css");

:root {
  --primary-bg-color: #901c1c;
  --primary-color: #d3573c;
  --secondary-bg-color: #db8876;
  --secondary-grey-bg-color: #fafafa;
  --secondary-grey-color: #525252;
  --secondary-color: #901c1c;
}

/** 
  Tag CSS
*/
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 0 100px;
}

h1 {
  color: var(--primary-bg-color);
}

.logo {
  height: 50px;
}

/**
  Photographer_section
*/
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 0;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

.photographer_section article h2 {
  color: var(--primary-color);
  font-size: 36px;
  margin-bottom: 0;
}

.photographer_section article {
  text-align: center;
}

.photographer_section article h3 {
  color: var(--primary-bg-color);
  margin: 0 auto;
}

.photographer_section article p {
  margin: 0 auto;
  font-size: 10px;
  font-weight: 400;
}

.photographer_section article span {
  color: #757575;
  font-size: 9px;
  font-weight: 400;
}
