@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
}

h3 {
    color: #901C1C;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

p{
    font-size: 10px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section a h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section a img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.profil-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}