body, * {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.photographer_section article a h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}
.photographer_section article a .portrait {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_section article aside {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.photographer_section article aside .location {
  color: #D3573C;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
.photographer_section article aside .quote {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.photographer_section article aside .price {
  color: #757575;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.cardMedia {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}
.cardMedia .media__aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-style: normal;
  font-weight: 400;
  margin-top: 3%;
}
.cardMedia .photo {
  aspect-ratio: 1/0.85;
  object-fit: cover;
  border-radius: 5px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.slide.active {
  z-index: 1;
}

.slide {
  position: absolute;
  height: 80%;
  max-width: 80%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.photo__slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  height: 358px;
  padding: 0 100px;
}

.presentation__section {
  margin: 20px 0px;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  gap: 3%;
}
.photograph-header .photographer__presentation {
  display: flex;
  flex-direction: column;
}
.photograph-header .photographer__presentation .photographer__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: #D3573C;
  margin-bottom: 10px;
  margin-top: 0;
}
.photograph-header .photographer__presentation .photographer__location {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
.photograph-header .photographer__presentation .photographer__quote {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}
.photograph-header .portrait {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.photo-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  color: #901C1C;
  justify-items: stretch;
  width: 100%;
  gap: 3% 8%;
  margin-top: 100px;
}

.presentation__section {
  margin: 20px 0px;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  gap: 3%;
}
.photograph-header .photographer__presentation {
  display: flex;
  flex-direction: column;
}
.photograph-header .photographer__presentation .photographer__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: #D3573C;
  margin-bottom: 10px;
  margin-top: 0;
}
.photograph-header .photographer__presentation .photographer__location {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
.photograph-header .photographer__presentation .photographer__quote {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}
.photograph-header .portrait {
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.slider {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
}

.slider.active {
  display: flex;
}

.back, .next, .close {
  font-size: 3rem;
  z-index: 1;
  color: #901C1C;
  position: absolute;
}

.back, .next {
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 1rem;
}

.back {
  left: 1rem;
}

.close {
  right: 1rem;
}

.slides__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalLikes {
  background-color: #DB8876;
  position: fixed;
  right: 38px;
  bottom: 0;
  width: 376px;
  height: 50px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: start;
  align-items: center;
  gap: 3%;
  padding: 0 3%;
  border-radius: 5px 5px 0 0;
}

.totalLikes__price {
  justify-self: end;
}

.filter {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.filter .filter__span {
  font-size: 18px;
  margin-top: 20px;
  align-self: flex-start;
}

.dropdown {
  width: 170px;
  border-radius: 5px;
  background-color: #901C1C;
  color: #ffffff;
  overflow: hidden;
}

.button__top {
  padding: 20px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #901C1C;
  color: #ffffff;
  cursor: pointer;
}

.filter__options {
  background-color: #901C1C;
  transition: height 0.4s ease-in-out;
  height: 0;
}
.filter__options ul {
  padding: 0;
}
.filter__options li {
  list-style-type: none;
  padding: 5px 0;
  cursor: pointer;
}
.filter__options li a {
  font-size: 18px;
  margin-left: 20px;
}
.filter__options li:first-child {
  padding-top: 20px;
}
.filter__options li:last-child {
  padding-bottom: 20px;
}

main {
  margin: 0 100px;
}

/*# sourceMappingURL=style2.css.map */
