@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.photographer_section article .location {
  font-size: 13px;
  font-weight: 400;
  color: #901c1c;
  line-height: 17px;
}

.photographer_section article .resume {
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  line-height: 13px;
}

.photographer_section article .dailyRate {
  font-size: 9px;
  font-weight: 400;
  color: #757575;
  line-height: 12px;
}
/***** responsive display ******/
@media screen and (max-width: 992px) {
  .photographer_section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  h1 {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .logo {
    margin: 20px auto;
  }
  .photographer_section {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
