
@import url("index.css");
@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

@media screen and (max-width: 768px){
    header {
        flex-direction: column;
    }
}

header > h1 {
    color: #901C1C;
    margin-right: 100px;
}
@media screen and (max-width: 768px) {
    header > h1 {
        margin:0;
    }
}

.logo {
    height: 50px;
    margin-left: 100px;
}
@media screen and (max-width: 768px) {
    .logo {
        margin-left:0px;
        margin-bottom: 20px;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}