/*@import url("photographer.css");*/

body {
    font-family: "DM Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article h3 {
    color: #901C1C;
    font-size: 18px;
    line-height: 17px;
    margin-top: -20px;
}

.photographer_section article h4 {
    font-size: 16px;
    line-height: 24px;
    margin-top: -8px;
}

.photographer_section article h5 {
    color: #757575;
    font-size: 16px;
    line-height: 12px;
    margin-top: -10px;
}