@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;

    
}
/*style créé pour le reste des articles*/
.photographer_section article h3 {
    color: #901C1C;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
.photographer_section article h4 {
    color: #525252;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
.photographer_section article div {
    color: #757575;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}
/*style page du photographe*/
.photographer {
    justify-self: center;
    display: flex;
    
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top:5rem;
}

.photographer  h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
  
    
    
}
.photographer  h3 {
    color: #901C1C;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
   
}
.photographer h4 {
    color: #525252;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    margin-top:1rem;
}
.photographer  div {
    color: #757575;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
   
}

.photographer  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
   
}
.photographer button {
  
}