@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a:link {
    text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

/* Modif page accueil */

.photographer_profil {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.picture_profil {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.h2 {
color: #d3573c;
font-size: 32px;
font-weight: 500;
}

.h3 {
color: #901c1c;
font-size: 20px;
font-weight: 300;
margin-top: -20px;
}

.text_description {
font-size: 18px;
font-weight: 200;
margin-top: -15px;
}

.prix {
    font-size: 14px;
    font-weight: 100;
    margin-top: -10px;
}

@media screen and (min-width:768px) and (max-width:991px){
  .photographer_profil{
    gap: 30px;
  }
}

/* Photographer page */

#main {
  margin-left: 100px;
  margin-right: 100px;
}

#header_profil {
  background-color:#F9F9F9;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px;
  margin-top: 20px;
}

#header_photographer_name {
  position: relative;
  top: -45px;
  color: #D3573C;
  font-size: 38px;
  font-weight: 100;
}

.text {
  position: relative;
  top: -160px;
  padding-left: 30px;
}

.header_title_text {
  color: #901c1c;
  font-size: 25px;
}

.header_text {
  font-size: 18px;
  font-weight: 100;
  margin-top: -20px;
}







