@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding-bottom: 2rem ;
}


header {
    margin-top: 1rem;
    text-align: center;
}

header, main {
    padding: 0 50px;
}

a {
    text-decoration: none;
}

h1 {
    color: #901C1C;
    margin-top: 1rem;
    
}

.logo {
    height: 50px;
    margin-top: 1rem;
}

.photographer-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 50px;
}

.photographer-section article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.photographer-section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}

.photographer-section article img {
    height: 180px;
    width: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-section article p {
    font-weight: 200;
}

.photographer-section article p:first-of-type {
    margin-top: 5px;
    color: #901C1C;
}

.photographer-section article small:last-of-type {
    opacity: 0.5;
}

@media only screen and (min-width: 576px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .photographer-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .photographer-section {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}