@import url("photographer.css");

body {
    max-width:1400px;
    font-family: "Noto Sans", sans-serif;
    margin: auto;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article a{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photographer_section a h2 {
    color: #D3573C;
    font-size: 36px;
    margin : auto;
    margin-top : -40px;
}

.photographer_section a .location {
    color: #901C1C;
    font-size: 100%;
}

.photographer_section a .tagline {
    color: black;
    font-size: 100%;
}

.photographer_section a .price {
    color: grey;
    font-size: 100%;
}

.photographer_section a img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border : 50px solid white;
}

.photographer_section article {
    justify-self: center;
}