@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


@media screen and (max-width: 500px) {
    header, h1{
        flex-direction: column;
        flex: 1 100%;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

@media screen and (max-width: 900px) {
    .photographer_section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));}
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #901C1C; /* #D3573C; */
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    /* Modifiez une propriété CSS dans style.css pour vérifier que tout est bien connecté. */
    /* border: 2px solid #901C1C; */
}