@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin: 0;
}

.photographer_section article p:first-of-type {
  color: #d3573c;
  font-size: 24px;
}

.photographer_section article p {
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}

.photographer_section article img {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
