body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    max-width: 1400px;
}

body > header {
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 40px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}




