// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  padding: 22px 11px;
  background-color: $principal-color;
  border-radius: $btn-border-radius;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0%;
}
