.media-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content 1fr;
  width: 350px;
  &__link {
    height: 300px;
    width: 350px;
    background-color: $light-grey;
  }
  &__picture {
    height: 300px;
    width: 350px;
    object-fit: cover;
    // object-position: top;
    border-radius: $media-img-border-radius;
  }
  &__under-picture-container,
  &__likes-container {
    display: flex;
  }
  &__under-picture-container {
    justify-content: space-between;
    align-items: flex-start;
    h3,
    p,
    button {
      margin: 5px 0;
    }
  }
  &__likes-container {
    align-items: center;
  }
  &__likes-button {
    border: none;
    background: none;
  }
}
