// Photographer infos size

$name-size: 2em;
$location-size: 1em;
$tagline-size: 0.8em;
$price-size: 0.8em;

$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-ternary: #525252;
$color-quaternary: #FAFAFA;
