/********************** GENERAL **********************/

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg_color;
}

/********************** END GENERAL **********************/