/********************** GENERAL **********************/
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: $font_global;
  animation: 1s ease-in forwards fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1.0;
  }
}

/********************** END GENERAL **********************/