@media (max-width: 1100px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }

    .photographer_card {

        h3 {
            font-size: $font_size_card_photographer_h3 * 1.2;
        }

        h4 {
            font-size: $font_size_card_photographer_h4 * 1.2;
        }

        h5 {
            font-size: $font_size_card_photographer_h5 * 1.2;
        }

    }
}


@media (max-width: 800px) {

    .logo,
    header h1 {
        margin-left: 20px;
        margin-right: 20px;
        font-size: $font_size_header_h1 / 1.2;
    }
}

@media (max-width: 700px) {

    header {
        flex-direction: column;
        margin-top: 40px;
    }

    .photographer_card img {
        width: 230px;
        height: 230px;
    }

    .photographer_section {
        grid-template-columns: 1fr;
    }


    .photographer_card {


        h3 {
            font-size: $font_size_card_photographer_h3 * 1.5;
        }

        h4 {
            font-size: $font_size_card_photographer_h4 * 1.5;
        }

        h5 {
            font-size: $font_size_card_photographer_h5 * 1.5;
        }

    }

}