/** FONT **/
$font_global: "DM Sans", sans-serif;
/** END FONT **/

/** COLOR VARIABLES **/
$default_color: white;
$default_font_color: #000000;
$color_gray: #757575;
$color_primary1: #901C1C;
$color_primary2: #D3573C;
$color_secondary2: #525252;
$color_secondary2_bg: #FAFAFA;
$color_background: #DB8876;
/** END COLOR VARIABLES **/







