@import "variables.scss";

#contact_modal {
  display: none;
}

#main section {
  margin: 0 100px;
}

.photograph-header {
  background-color: $theme-lightGray;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .photographer-name {
    font-size: 64px;
  }

  & .photographer-location {
    font-size: 24px;
  }

  & .photographer-tagline {
    color: $theme-darkGray;
  }
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $theme-darkRed;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: $theme-lightRed;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  & header {
    justify-content: space-between;
    width: 100%;
    & img {
      cursor: pointer;
    }
    & h2 {
      font-size: 64px;
      font-weight: normal;
      text-align: center;
    }
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  & label {
    color: $theme-darkGray;
    font-size: 36px;
  }
  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }
  & input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }
}

.dropdown-sort {
  background: #911c1c;
  color: white;
  font-weight: 700px;
  border-radius: 5px;
  width: 170px;
  height: 4em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}