@import "variables.scss";

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: $theme-lightGray;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .photographer-name {
    font-size: 64px;
  }

  & .photographer-location {
    font-size: 1.4em;
  }

  & .photographer-tagline {
    color: $theme-darkGray;
  }
}

.contact_button,
.open_modal_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $theme-darkRed;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: $theme-lightRed;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  & header {
    justify-content: space-between;
    width: 100%;
    & img {
      cursor: pointer;
    }
    & h2 {
      font-size: 64px;
      font-weight: normal;
      text-align: center;
    }
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  & label {
    color: $theme-darkGray;
    font-size: 36px;
  }
  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }
  & input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }
}

.media-sorting-menu {
  margin-top: 2%;
  margin-bottom: 2%;
}

.dropdown-sort {
  background: #911c1c;
  color: white;
  font-weight: 700px;
  border-radius: 5px;
  width: 170px;
  height: 4em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.photographer-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mediaCard {
  min-width: 250px;
  min-height: 250px;
  width: 30%;
  max-width: 25em;
  margin: 0 0 2% 0;
  & > * {
    width: 100%;
  }
  & img, video {
    aspect-ratio: 1;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }
}

.media-legend {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $theme-darkRed;
  min-height: 3em;
  & .likes {
    margin-left: 25px;
  }
  & figcaption, aside {
    min-height: 1.4em;
  }
  & figcaption,
  .likes {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    & .fa-heart {
      fill: $theme-darkRed;
    }
  }
}

.fa-heart {
  margin-left: 10px;
  height: 1.4em;
  width: 1.4em;
}

.insert {
  display: flex;
  position: fixed;
  top: 97%;
  left: 70%;
  width: 12em;
  height: 2.5em;
  border-radius: 5px;
  padding: 5px;
  background-color: $theme-lightRed;
  font-size: 1.4em;
  & .fa-heart {
    margin-right: 10px;
  }
}