select{
    //display: none;
   margin-left: 200px;
color: white;
   background-color:  $color-primary   ;
   height: 50px;
width: 170px;
left: 0px;
top: 0px;
border-radius: 5px;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;}



//=============================================================================
