$color-primary: #901C1C;
$color-artists-name: #D3573C;
$color-secondary: #DB8876;
$color-tertiary-font: #525252;
$color-tertiary-background: #FAFAFA;
$color-price: #757575;


$font: "DM Sans", sans-serif;


$profile-picture-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);


