.media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width:

  &__info{
    display: flex;
    width: 28vw;
    justify-content: space-between;
  }
  &__img, &__video {
    width: 28vw;
    height: 28vw;
    object-fit: cover;
    // object-position: top;
    border-radius: 0.2rem;
    padding-bottom: 1rem;
  }

  &__like {
    color: red;
  }

  &__btn {
    border: none;
    cursor: pointer;
    // background-color: transparent;
  }
}
