.cardMedia {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
   
    overflow: hidden;

    .media__aside{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
       
        font-style: normal;
        font-weight: 400;
        margin-top: 3%;
    }

    .photo {
        aspect-ratio: 1/0.85;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
    }
    .photo__likes{
        cursor: pointer;
    }
}

