* {
  font-family: "DM Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 90px;
}
.home-page-header .logo {
  height: 50px;
  margin-left: 100px;
}
.home-page-header h1 {
  color: #901c1c;
  margin-right: 100px;
  display: block;
}

.photographers_section {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
  margin-top: 90px;
}
.photographers_section .photographers-grid {
  padding: 5px;
  width: 350px;
  text-align: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.photographers_section .photographers-grid h2 {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 8px;
}
.photographers_section .photographers-grid img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 0 0.8rem rgba(135, 135, 135, 0.5);
}
.photographers_section .photographers-grid img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.photographers_section .photographers-grid .location {
  color: #901c1c;
  margin: 3px;
}
.photographers_section .photographers-grid .tagline {
  margin: 0;
}
.photographers_section .photographers-grid .price {
  color: #757575;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .home-page-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 180px;
  }
  .home-page-header .logo {
    margin-left: unset;
  }
  .home-page-header h1 {
    margin-right: unset;
    display: unset;
  }

  .photographers_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-top: 10px;
  }
  .photographers_section .photographers-grid {
    padding: 5px;
    width: 94%;
    text-align: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.photographers-header {
  align-items: center;
  margin: 2rem 4rem;
  position: relative;
}
.photographers-header .ph-profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: unset;
  background-color: #fafafa;
  padding: 2rem;
}
.photographers-header .ph-profil img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}
.photographers-header .ph-profil .ph-infos h2 {
  color: #d3573c;
  font-size: 2.4em;
  font-weight: 400;
  margin: 8px 0;
}
.photographers-header .ph-profil .ph-city {
  color: #901c1c;
  font-size: 1em;
  margin: 0;
}
.photographers-header .ph-profil button {
  background: #901c1c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  height: 50px;
  width: 170px;
  right: 480px;
  position: absolute;
  top: 35px;
}
.photographers-header .ph-profil button:hover {
  background: #d3573c;
  transform: scale(1.05);
}

.works-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 250px;
  margin: 2rem 4rem;
}
.works-sort > span {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 5px;
}
.works-sort .sort-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  background: #901c1c;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  width: 10rem;
}
.works-sort .sort-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.works-sort .fa-chevron-down {
  margin-left: 16px;
}
.works-sort .hidden-sort {
  display: none;
  z-index: 1;
  border-radius: 5px;
  color: white;
  padding: 0;
  position: absolute;
  top: 25rem;
  width: 11rem;
}
.works-sort .hidden-sort li {
  background: #901c1c;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.25rem;
  list-style: none;
}
.works-sort .hidden-sort li:hover {
  background-color: #d3573c;
  cursor: pointer;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#modal-container #contact-form {
  border-radius: 5px;
  width: 40vw;
  background: #db8876;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}
#modal-container #contact-form header {
  display: flex;
  justify-content: space-between;
  margin: -0.3rem 0.3rem 1.25rem 0;
}
#modal-container #contact-form header h1 {
  font-size: 3em;
  font-weight: 400;
}
#modal-container #contact-form header .close-icon {
  color: #fff;
  font-size: 30px;
  margin-top: 8px;
}
#modal-container #contact-form .form-data {
  display: flex;
  flex-direction: column;
}
#modal-container #contact-form .form-data label {
  font-size: 26px;
  margin-top: 8px;
}
#modal-container #contact-form .form-data input,
#modal-container #contact-form .form-data textarea {
  border-radius: 0.3rem;
  font-size: 26px;
  padding: 0.3rem;
}
#modal-container #contact-form .form-submit {
  background: #901c1c;
  color: #fff;
  font-size: 1em;
  margin-top: 22px;
  width: 160px;
  align-self: flex-start;
  height: 45px;
  border-radius: 5px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.form-data[data-error]::after {
  content: attr(data-error);
  font-size: 12px;
  color: #860606;
  display: block;
  margin: 7px 0;
  line-height: 0.3;
  text-align: left;
  opacity: 0;
}

.form-data[data-error-visible=true]::after {
  opacity: 1;
}

.form-data .text-control {
  border: transparent;
}

.form-data[data-error-visible=true] .text-control {
  border: 2px solid red;
}

input[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #860606;
}

#photographer-gallery {
  display: flex;
  align-items: unset;
  justify-content: space-around;
  flex-direction: unset;
  flex-wrap: wrap;
  margin: 24px 0;
  padding: 12px 36px;
  gap: 0.6rem;
}
#photographer-gallery .media-art {
  color: #901c1c;
  font-size: 1.2em;
  font-weight: 500;
  width: 22rem;
}
#photographer-gallery .media-art img, #photographer-gallery .media-art video {
  border-radius: 0.3rem;
  height: 12rem;
  object-fit: cover;
  width: 22rem;
  cursor: pointer;
}
#photographer-gallery .media-art .media-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: unset;
  margin-top: 0;
}
#photographer-gallery .media-art .media-detail-title {
  width: 12rem;
  font-size: inherit;
  font-weight: inherit;
}
#photographer-gallery .media-art .media-detail-like .heart-btn {
  cursor: pointer;
}

#box-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #db8876;
  border-radius: 0.3rem;
  bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
  height: 4rem;
  padding: 0 2rem;
  position: fixed;
  right: 2.5rem;
  width: 18rem;
}
#box-like .fa-heart {
  left: 4.8rem;
  position: absolute;
}

#lightbox {
  background-color: #fff;
  display: none;
  height: 100vw;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#lightbox-body {
  background-color: #fff;
  height: 90%;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 3%;
  transform: translate(-50%, 0);
  width: 60%;
}
#lightbox-body #lightbox-media {
  height: 100%;
  margin: 0 auto 1rem;
  overflow: hidden;
  width: 90%;
}
#lightbox-body #lightbox-media img,
#lightbox-body #lightbox-media video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#lightbox-body #lightbox-name {
  color: #901c1c;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
}
#lightbox-body .fa-times {
  color: #901c1c;
  font-size: 1.7rem;
  position: absolute;
  right: -3rem;
  top: 0.5rem;
  cursor: pointer;
}
#lightbox-body .fa-chevron-left {
  color: #901c1c;
  font-size: 2rem;
  left: -3rem;
  position: absolute;
  top: 48%;
  cursor: pointer;
}
#lightbox-body .fa-chevron-right {
  color: #901c1c;
  font-size: 2rem;
  position: absolute;
  right: -3rem;
  top: 48%;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
