@import "../abstracts/variables";
@import "../layouts/header";
@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}


.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;

  article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }

    h2 {
      color: $light-red;
      font-size: 36px;
      margin: 5px;
    }

    .location {
      color: $dark-red;
      margin: 0;
    }
  }
}
