.contact_button {
    font-size: $font_size / 1.8;
    font-weight: $font_weight_big;
    font-family: $font_global;
    color: $default_color;
    padding: 11px;
    min-width: 170px;
    min-height: 70px;
    border: none;
    background-color: $color_primary1;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s ease-in, background-color 0.5s ease-in;

    &:hover {
        color: $default_font_color;
        background-color: $color_background;
    }
}

