#contact_modal {
    display: flex;
    position: absolute;
    top: 80px;
    left: 25%;
    right: 25%;
    border-radius: 5px;
    background-color: $color_background;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    overflow: visible;
}

#contact_modal header {
    justify-content: space-between;
    width: 100%;
}

#contact_modal header img {
    cursor: pointer;
}

#contact_modal header h2 {
    font-size: calc($font_size * 1.77);
    font-weight: normal;
    text-align: center;
}

#contact_modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#contact_modal form label {
    color: $color_secondary2;
    font-size: $font_size;
}

#contact_modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

#contact_modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#contact_modal {
    display: none;
}