#contact_modal {
    display: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 27%;
    right: 27%;
    border-radius: 5px;
    background-color: $color_background;
    align-items: baseline;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;


    .modal_header {
        justify-content: space-between;
        width: 100%;
        margin-top: -20px;
        margin-bottom: 10px;
        display: flex;
        align-items: baseline;

        img {
            cursor: pointer;
        }

        h2 {
            font-size: calc($font_size * 1.77);
            font-weight: normal;
        }
    }

    form input {
        font-size: calc($font_size);
        margin-bottom: 5px;
    }

    form textarea {
        font-size: calc($font_size /2);
        margin-bottom: 20px;
        resize: vertical;
    }

    form input,
    form textarea {

        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;

    }


    form label {
        color: $default_font_color;
        font-size: $font_size;
    }

    form label:last-child {
        margin-top: 15px;
    }

}

.label_textarea {
    margin-top: 15px;
}