@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/fonts";
@import "../../styles/layouts/header";


.photographer-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;

  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    height: 100%;
    align-items: center;
    justify-items: center;

    div {
      display: flex;
      flex-direction: column;

      h1 {
        color: $light-red;
        font-size: 60px;
        font-weight: normal;
        margin: 0;
      }

      p {
        margin: 5px;

        &.location {
          color: $dark-red;
          font-size: 23px;
        }

        &.quote {
          color: $gray;
          font-size: 20px;
        }
      }
    }

    .contact_button {
      font-size: 20px;
      color: white;
      padding: 11px;
      width: 170px;
      height: 70px;
      border: none;
      background-color: #901C1C;
      border-radius: 5px;
      cursor: pointer;
    }

    img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}

#contact_modal {
  display: none;
}


.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
