@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/fonts";
@import "../../styles/layouts/header";
@import "../../styles/layouts/modal";
@import "../../styles/layouts/lightbox_modal";
@import "../../styles/components/button";

.photographer-header {
  background-color: #FAFAFA;
  height: 300px;

  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
    justify-items: center;

    div {
      display: flex;
      flex-direction: column;

      h1 {
        color: $light-red;
        font-size: 60px;
        font-weight: normal;
        margin: 0;
      }

      p {
        margin: 5px;

        &.location {
          color: $dark-red;
          font-size: 23px;
        }

        &.quote {
          color: $gray;
          font-size: 20px;
        }
      }
    }

    img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}

.toto {
  position: fixed;
  bottom: 0;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 50px;
  background-color: $light-red2;

  .likes {
    display: flex;
    align-items: center;
    height: 100%;

    p {
      padding: 0 10px;
      font-size: 25px;
    }

    i {
      font-size: 20px;
    }
  }

  #price {
    font-size: 28px;
  }
}

section {
  margin: 20px 100px;

  label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }

  select {
    background-color: $dark-red;
    color: white;
    border: none;
    font-size: 18px;
    padding: 4px;

    option {
      padding-right: 200px;
    }
  }

  .photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 0;
    align-items: center;
    justify-items: center;
    gap: 70px;

    article {
      button {
        background-color: white;
        border: none;
        cursor: pointer;

        img, video {
          width: 500px;
          height: 400px;
          object-fit: cover;
        }
      }

      div {
        display: flex;
        justify-content: space-between;

        .description {
          margin: 10px 0;
          color: $dark-red;
          font-size: 23px;
        }

        div {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 23px;
          color: $dark-red;

          .like {
            margin: 0;
          }

          .heart {
            position: relative;
            width: 25px;

            .fa-regular {
              display: flex;
              position: absolute;
              cursor: pointer;
            }

            .fa-solid {
              display: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
