.counter {
  position: fixed;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  bottom: 0rem;
  width: 20rem;
  height: 6rem;
  right: 10%;
  background-color: #D3573C;
  padding: 2rem;
  font-size: 1.5rem;

  &__likes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }
}
