.media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width:

  &__info{
    display: flex;
    width: 28vw;
    justify-content: space-between;
  }
  &__img, &__video {
    width: 28vw;
    height: 28vw;
    object-fit: cover;
    // object-position: top;
    border-radius: 0.2rem;
    padding-bottom: 1rem;
    cursor: pointer;
  }
  &__title {
    color: $color-primary;
    font-size: 1.75rem;
  }

  &__likes {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  &__likeIcon {
    cursor: pointer;
    font-size: 1.3rem;
  }
  &__likeNumber {
    color: red;
    font-size: 1.3rem;
  }

  &__btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}
