/** -----------------------------------------------------------------------------
* Header
* -----------------------------------------------------------------------------*/
.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: space-between;
  padding: 70px 100px;
  .logo {
    height: 50px;
  }
}
