/** -----------------------------------------------------------------------------
* Modal lightbox
* -----------------------------------------------------------------------------*/
#modal__lightbox {
  background-color: $white;
}
.modal__lightbox {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px 100px;
  width: 100%;
  &-close-button {
    position: relative;
    right: 90px;
    top: 50px;
    .close-icon path {
      fill: $principal-color;
    }
  }
  &-media-container {
    height: 900px;
    width: 1050px;
  }
  &-picture {
    animation-duration: 2s;
    animation-name: modalPicture;
    border-radius: $media-img-border-radius;
    height: 100%;
    object-fit: cover;
    object-position: center 35%;
    width: 100%;
  }
  &-media-title {
    margin-top: 0;
  }
}
@keyframes modalPicture {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
