// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact modale.
// -----------------------------------------------------------------------------
.modal__contact {
  border-radius: $box-border-radius;
  background-color: $third-color;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: space-between;
  padding: 10px 35px;
  margin: auto;
  &-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
  }
  &-close-button {
    top: 10px;
    right: -15px;
  }
  &-validation {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    p {
      margin: auto;
    }
    button {
      padding: 20px 50px;
      margin-bottom: 25px;
    }
  }
}
