.photographer__sorter {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 15px 100px;
  position: relative;
  &-list {
    display: none;
    background-color: $principal-color;
    flex-direction: column;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: $box-border-radius;
    z-index: 99;
    &--open {
      display: flex;
    }
  }
  &-item {
    &-divider {
      width: 90%;
      height: 1px;
      background-color: white;
      margin: auto;
    }
  }
  &-button {
    border-radius: $btn-border-radius;
    padding: 23px 60px 23px 20px;
    min-width: 200px;
    &-arrow {
      position: absolute;
      left: 21.5%;
      top: 25%;
      z-index: 99;
      transform: rotate(0.5turn);
    }
  }
  &-arrow-closed {
    position: absolute;
    right: 5%;
    top: 8%;
    z-index: 99;
  }
}
