.photographer__infos {
  position: fixed;
  bottom: 0px;
  right: 20px;
  display: flex;
  gap: 65px;
  background-color: $third-color;
  border-radius: $box-border-radius $box-border-radius 0px 0px;
  padding: 15px 30px;
  p {
    margin: 0%;
  }
  &-likes {
    &-container {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &-heart {
      padding-bottom: 5%;
    }
  }
}
