.photographer {
  &__profile {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
    padding: 70px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__presentation-location {
    margin: 0;
  }
  &__contact-button {
    &:hover,
    &:focus {
      background-color: $third-color;
      color: $black;
    }
  }
}
