// Color
$primary-dark: #901C1C;
$primary-light: #D3573C;
$secondary-dark: #525252;
$secondary-light: #fafafa;
$bg-modal: rgba(100, 100, 100, 0.8);
$bg-modal-color: #DB8876;

$label-dark: #312E2E;
$inputData: #c90519;
$b-inputData: #e54858;
$bg-inputData: rgb(255, 220, 220);

// Breakpoint
$medium: 1400px;
$small: 950px;
