.modal_contact {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: $color_background;
    padding: 35px;
    margin: auto;
    width: 50%;
    transition: width 0.5s ease-in;


    .modal_header {
        justify-content: space-between;
        width: 100%;
        margin-top: -20px;
        margin-bottom: 10px;
        display: flex;
        align-items: baseline;

        #closeModal {
            // Close Modal Picture
            cursor: pointer;
            transition: filter 0.5s ease-in;

            &:hover {
                filter: brightness(0) saturate(100%);
            }
        }

        .text_header {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        h2 {
            font-size: calc($font_size * 1.77);
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
    }

    form input {
        font-size: calc($font_size / 1.2);
        margin-bottom: 5px;
        padding: 10px;
    }

    form textarea {
        margin-top: 15px;
        font-size: calc($font_size /1.5);
        margin-bottom: 20px;
        resize: vertical;
    }

    form input,
    form textarea {

        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;

    }


    form label {
        color: $default_font_color;
        font-size: $font_size;
    }

    form label:last-child {
        margin-top: 15px;
    }

    .help_blind {
        display: none;
    }



}

.hide_content {
    animation: 0.5s ease-in forwards fade-off;

    @keyframes fade-off {
        0% {
            opacity: 1.0;
        }

        100% {
            opacity: 0.4;
        }
    }
}



.show_content {
    animation: 0.5s ease-in forwards fade-in;

    @keyframes fade-in {
        0% {
            opacity: 0.4;
        }

        100% {
            opacity: 1.0;
        }
    }


}


@media (max-width: 1100px) {

    .modal_contact {
        width: 70%;

        .modal_header {
            h2 {
                font-size: calc($font_size * 1.4);
            }
        }

        form label {
            font-size: $font_size / 1.1;
        }

        form input {
            font-size: calc($font_size / 1.3);
        }

        form textarea {
            font-size: $font_size / 1.6;

        }

    }
}

@media (max-width: 800px) {
    .modal_contact {
        width: 90%;


        .modal_header {
            h2 {
                font-size: calc($font_size * 1.2);
            }
        }

        form label {
            font-size: $font_size / 1.3;
        }

        form input {
            font-size: calc($font_size / 1.5);
        }

        form textarea {
            font-size: $font_size / 1.8;

        }
    }
}