.modal_lightbox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease-in;


    .content_media {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #video_selected,
    #picture_selected {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 100%;
        margin: auto;

    }

    a {
        text-decoration: none;
        font-size: $font_size * 2;
        color: $color_primary1;
        transition: color 0.5s ease-in;

        &:hover {
            color: $color_background;
        }
    }

    .closeLightbox {
        position: absolute;
        right: -70px;
        cursor: pointer;
    }


    h2 {
        color: $color_primary1;
        font-size: 24px;
    }



    .help_blind {
        display: none;
    }



}

.hide_content {
    animation: 0.5s ease-in forwards fade-off;

    @keyframes fade-off {
        0% {
            opacity: 1.0;
        }

        100% {
            opacity: 0.4;
        }
    }
}



.show_content {
    animation: 0.5s ease-in forwards fade-in;

    @keyframes fade-in {
        0% {
            opacity: 0.4;
        }

        100% {
            opacity: 1.0;
        }
    }


}