// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/** 
* General styles
*/
body {
  margin: 0;
  max-width: 1440px;
  margin: auto;
}
h1,
h2 {
  margin: 0%;
}

/**
* Basic styles for links
*/
a {
  text-decoration: none;
  cursor: pointer;
}
