/**
 * Basic typography style
 */
* {
  font-family: $text-font;
}
h1 {
  color: $principal-color;
}
h1,
h2 {
  font-size: 2.25em;
  font-weight: 400;
}

.name {
  color: $second-color;
}
.location {
  color: $principal-color;
}

.button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 1.25px;
}

/* ********** form */
form {
  .label {
    color: #312e2e;
    font-size: 2.25em;
  }
  .error-message {
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
  }
  .text-control {
    font-size: 1em;
    letter-spacing: 1.25px;
  }
}

/* ********** home page */
/* photographer card */
.photographers__section {
  /* style with font-size more accessible */
  .photographer {
    text-align: center;
    &__location {
      font-size: 1.2em;
    }
    &__tagline {
      font-size: 0.9em;
    }
    &__price {
      font-size: 0.8em;
      color: $dark-grey;
    }
  }
  // /* style with font-size of mock-up */
  // .photographer {
  //   text-align: center;
  //   &__location {
  //     font-size: 0.8125em;
  //   }
  //   &__tagline {
  //     font-size: 0.625em;
  //   }
  //   &__price {
  //     font-size: 0.5625em;
  //     color: $dark-grey;
  //   }
  // }
}

/* ********** photographer page */
/***** photographer profile */
.photographer {
  &__presentation {
    &-name {
      font-size: 4em;
    }
    &-location {
      font-size: 1.5em;
    }
    &-tagline {
      font-size: 1.125em;
      color: $dark-grey;
    }
  }
  /***** photographer media sorter  */
  &__sorter {
    &-button,
    p {
      font-size: 1.125em;
      font-weight: 700;
    }
    &-button {
      color: white;
      text-align: left;
      letter-spacing: 1.25px;
    }
  }
  /***** photographer infos  */
  &__infos {
    font-size: 1.5em;
    font-weight: 500;
  }
}
/***** photographer gallery */
/* media card */
.media-card {
  &__under-picture-container {
    color: $principal-color;
  }
  &__title,
  &__likes {
    font-size: 1.5rem;
  }
  &__title {
    font-weight: 400;
  }
  &__likes {
    font-weight: 500;
  }
  &__likes-heart {
    color: $principal-color;
    font-size: 1.3rem;
  }
}

/***** modal  */
.modal {
  /* contact modal  */
  &__contact {
    &-header {
      h2 {
        font-size: 64px;
        font-weight: normal;
        text-align: left;
      }
    }
    &-validation {
      p {
        font-size: 2em;
      }
    }
  }
  /* lightbox modal  */
  &__lightbox {
    &-media-title {
      color: $principal-color;
      font-size: 1.5em;
    }
  }
}
