@use "../abstracts/variables";
// button style

.button {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  padding: 1.5rem;
  // width: 10.5em;
  // height: 4.3em;
  border: none;
  background-color: $color-primary;
  border-radius: 0.2em;
  cursor: pointer;

  &:hover, &:focus{
    background-color: $color-secondary;
    color: black;
  }
  &:focus-visible {
    outline: solid 2px $color-primary;
  }
}
