@use "../abstracts/variables";

.sort {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;

  &__select {
    position: relative;
    display: inline-block;
    margin-left: 2rem;
    padding: 0;
    box-sizing: border-box;
    width: 11rem;
    background-color: $color-primary;
    border-radius: 0.2rem;
    border: none;
    color: white;
    text-align: start;
    cursor: pointer;

    &-open {
      // display: block;
      border-radius: 0.2rem 0.2rem 0 0;
    }
  }
  &__button {
    background-color: $color-primary;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    width: 11rem;
    cursor: pointer;
    text-align: start;

    &:hover > i, &:focus > i {
      color: black;
    }
  }
  &__optionBtn {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    width: 11rem;
    cursor: pointer;
    text-align: start;
    &:hover, &:focus {
      background-color: $color-secondary;
      color: black;
    }
  }

  & i {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    color: white;
    cursor: pointer;
    transform: none;
    pointer-events: none;
  }
  &__options &__select-open {
    display: block;
  }

  &__options {
    position: absolute;
    display: none;
    background-color: $color-primary;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0 0 0.2rem 0.2rem;

    & li{
      padding: 1.5rem;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0.625rem;
        width: 9.375rem;
        height: 1px;
        background: white;
      }
    }
  }
  &__option {
    position: relative;
    padding: 1.5rem;
  }
  &__hide {
    display: none;
  }
}

.sort__options li:not(.sort__hide)~li:not(.sort__hide){
  padding: 1.5rem;
}
