//// MAIN PAGE /// 
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 75px;
    margin-bottom: 75px;
}

///// END MAIN PAGE // 

//////////////// PHOTOGRAPHER PAGE /////// 
.margin_left_right {
    margin: 0 100px;
}

.filter_section {
    @include flex-basic(row, null, null, null, baseline);
    margin-left: 0;

    h5:first-child {
        margin-top: 20px;
        margin-right: 28px;
        font-family: $font_global;
        font-weight: $font_weight_big;
        font-style: normal;
        font-size: calc($font-size / 2);
        color: $default_font_color;
    }

    .select_filter {
        margin-top: 10px;
    }
}

.media_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 95px;
    margin-top: 20px;
    margin-bottom: 75px;
}

////////////// END PHOTOGRAPHER PAGE ////////



#contact_modal {
    display: none;
}