.avatar {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;

    &--card {
        width: 12.5rem;
        height: 12.5rem;
    }
}
