//Photographers page
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background: $color-primary-dark;
    border-radius: 5px;
    cursor: pointer;
    transition: background ease .2s;

    &:hover{
        background: $color-primary-light;
        transition: background ease .2s;
    }
}

// .btn-primary{
//     padding: 15px;
//     border-radius: 25px;
//     box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5);
//     color: white;
//     background : $gradient-primary;
//     opacity: 1;
//     transition: opacity ease .25s, box-shadow ease .25s;

//     &:hover{
//         opacity: 0.85;
//         box-shadow: 3px 3px 12px rgba(32, 32, 32, 0.9);
//         transition: opacity ease .5s, box-shadow ease 1s;
//     }
// }