.button {
    font-size: map-get($map: $font-size, $key: text) + 2;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $colorPrimary;
    border-radius: 5px;
    cursor: pointer;
}