.button {
  font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding: 1em;
    width: 10.5em;
    height: 4.3em;
    border: none;
    background-color: #901C1C;
    border-radius: 0.5em;
    cursor: pointer;
}
