.button {
    position: relative;
    z-index: 1;
    font-size: map-get($map: $font-size, $key: text) + 0.125;
    font-weight: bold;
    color: white;
    padding: 0.688rem;
    width: 10.625rem;
    height: 4.375rem;
    border: none;
    background-color: $colorPrimary;
    border-radius: 0.313rem;
    cursor: pointer;
    &:hover {
        color: #000000;
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include pseudoElement;
        z-index: -1;
        opacity: 0;
        background-color: $colorTertiary;
        border-radius: 0.313rem;
        transition: opacity 250ms;
    }
}
