.card-infos {
    position: fixed;
    display: flex;
    background-color: $secondary-color;
    border-radius: $border-radius $border-radius 0 0;
    padding: 2px 15px;
    font-size: 1rem;
    font-weight: 500;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    p {
        margin-left: 5px;
    }

}

@media screen and (min-width: 950px){
    .card-infos{
        left: unset;
        transform: unset;
        gap: 65px;
        right: 35px;
        padding: 20px 30px;
        font-size: 1.5rem;
    }
    
    .nb-likes{
        margin-right: 15px;
    }
}