@media screen and (min-width: 950px){
    .card-infos{
        position: fixed;
        display: flex;
        gap: 65px;
        bottom: 0;
        right: 35px;
        background-color: $secondary-color;
        border-radius: $border-radius $border-radius 0 0;
        padding: 20px 30px;
        font-size: 1.5rem;
        font-weight: 500;
    
        .nb-likes{
            margin-right: 15px;
        }
    }
}