.card-infos {
    position: fixed;
    display: flex;
    gap: 20px;
    background-color: $secondary-color;
    border-radius: $border-radius $border-radius 0 0;
    padding: 2px 10px;
    font-size: 1rem;
    font-weight: 500;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    .nb-likes{
        margin-right: 15px;
    }
}

@media screen and (min-width: 950px){
    .card-infos{
        gap: 65px;
        right: 35px;
        padding: 20px 30px;
        font-size: 1.5rem;
    }
}