.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    padding: 0.5rem 1rem;

    font-family: "DM-Sans", sans-serif;

    &__label {
        font-size: 1rem;
    }

    &__textfield {
        font-size: 1rem;
        max-width: 30rem;
        padding: 0.75rem 0.25rem;
    }
}
