.lightboxModal {
  display: none;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  left: 0rem;
  top: 0rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(white, 0.5);
  backdrop-filter: blur(2px);
  // border: 2px solid red;

  &__media {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0 1em;
  }
  &__img,
  &__video {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      object-fit: cover;
  }
  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 80%;
  }
  &__caption {
    justify-items: flex-start;
  }
  &__close {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 3rem;
    height: 3rem;
    color: $color-primary;
    font-size: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  &__previous,
  &__next {
    font-size: 4rem;
    border: none;
    background-color: transparent;
    color: $color-primary;
    cursor: pointer;
  }
  &__previous {
    position: absolute;
    left: 10rem;
  }
  &__next {
    position: absolute;
    right: 10rem;
  }
  &__caption {
    font-size: 3rem;
    color: $color-primary;
    margin: 0.5em 0;
  }
}
