.lightbox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__previous {
        padding-right: 1.5rem;
        cursor: default;

        &__icon {
            display: inline-block;
            width: 2rem;
            height: 3rem;
            background-size: cover;
            background-image: url("../../assets/icons/arrow-left.svg");
            position: relative;
            cursor: pointer;

            &--disabled {
                background-image: url("../../assets/icons/arrow-left-disabled.svg");
                cursor: default;
            }
        }
    }

    &__figure {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 47.5%;
        height: 47.5vw;

        padding: 0 1rem;

        &__close {
            position: absolute;
            top: 0.5rem;
            right: -3rem;

            &__icon {
                display: inline-block;
                width: 2.25rem;
                height: 2.25rem;
                background-size: cover;
                background-image: url("../../assets/icons/close.svg");
                position: relative;
                cursor: pointer;
            }
        }

        &__media {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 0.25rem 0 0.1rem $tertiary-color;
        }

        &__caption {
            color: $primary-color;
            font-size: 1.1rem;
        }
    }

    &__next {
        padding-left: 1rem;
        cursor: default;

        &__icon {
            display: inline-block;
            width: 2rem;
            height: 3rem;
            background-size: cover;
            background-image: url("../../assets/icons/arrow-right.svg");
            position: relative;
            cursor: pointer;

            &--disabled {
                background-image: url("../../assets/icons/arrow-right-disabled.svg");
                cursor: default;
            }
        }
    }
}
