.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  button {
    margin: 0 100px;
    cursor: pointer;
    background-color: unset;
  }
  &__next,
  &__prev {
    border: 2px;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 11;
  }
  &__prev {
    right: auto;
    left: 0;
  }
  &__close {
    border: none;
    position: fixed;
    top: 70px;
    right: 0;
  }
  &__container {
    margin: 62px 165px;
    &__figure {
      max-width: 100%;
      height: 85vh;
      padding: 0 25%;
      img,
      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-color: $media-bg;
        padding-right: 5px;
        border-radius: 5px;
      }
    }
    &__title {
      display: block;
      text-align: left;
      padding-top: 12px;
      font-size: 24px;
      font-weight: 400;
      color: $primary-color;
    }
  }
}
