.like-btn {
    display: flex;
    align-items: baseline;
    gap: 0.3rem;

    &__counter {
        color: $primary-color;
        font-size: 1.1rem;
    }

    &__icon {
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        background-size: cover;
        background-image: url("../../assets/icons/like-outline.svg");
        position: relative;
        cursor: pointer;

        &--liked {
            background-image: url("../../assets/icons/like.svg");
        }
    }
}
