.media-container {
    width: 25%;

    &__media {
        width: 100%;
    }

    &__figcaption {
        display: flex;
        justify-content: space-between;
        gap: 0.25rem;

        > p {
            font-size: 1.1rem;
            color: $primary-color;
        }
    }
}
