.media-container {
    width: 22.5vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__media {
        width: 22.5vw;
        height: 20vw;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    &__figcaption {
        display: flex;
        justify-content: space-between;

        > p {
            font-size: 1.1rem;
            color: $primary-color;
        }
    }
}
