.sort-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 8rem;
    border-radius: 0.25rem;
    padding: 0 0.75rem;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: $primary-color;
    color: white;

    > li {
        padding: 1rem 0.5rem;
    }

    &__selected {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &--alt {
            padding: 1rem 0.75rem;
        }
    }

    &__option {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0.5rem 0.25rem 0.5rem;
        border-top: 1px solid white;
        text-align: left;

        &--hidden {
            display: none;
        }
    }

    &__icon {
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        background-size: cover;
        background-image: url("../../assets/icons/arrow-down.svg");

        &--alt {
            background-image: url("../../assets/icons/arrow-up.svg");
        }
    }
}
