@use "../abstracts/variables";

.sort {
  position: relative;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-weight: bold;
  font-size: 1.2rem;

  &__menu {
    width: 300px;
    cursor: pointer;
    position: relative;

    & i {
      color: white;

    }
  }
  &__select {
    background-color: $color-primary;
    padding: 1rem;
    color: white;
    font-weight: 500;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    position: absolute;
    width: 100%;
    background-color: $color-primary;
    color: white;
    border-radius: 0.2rem;
    margin-top: 1rem;
    padding: 0 1rem;
    max-height: 7.75rem;
    overflow-y: auto;
    z-index: 1;
    height: 0;
  }
  &__option {
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
}
.active {
  height: 20rem;
}
