@use "../abstracts/variables";

.sort {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-weight: bold;
  font-size: 1.2rem;

  &__menu {
    position: relative;
    width: 20rem;
    cursor: pointer;

    & i {
      color: white;
    }
  }
  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: $color-primary;
    color: white;
  }
  &__list {
    position: absolute;
    background-color: $color-primary;
    color: white;
    border-radius: 0.2rem;
    margin-top: 1rem;
    padding: 0 1rem;
    max-height: 7.75rem;
    overflow-y: auto;
    z-index: 1;
    height: 0;
  }
  &__option {
    padding: 0.5rem 0;
    border-bottom: 1px solid white;
  }
}
.active {
  height: 20rem;
  width: 10rem;
}
