@use "../utils" as *;

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px 0;

    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    
    h1 {
        grid-area: 1 / 2 / 2 / 3;
        place-self: center end;
        font-size: $heading-1-xs;
        color: $main-color;

        @media screen and (min-width: 600px) {
            font-size: $heading-1-md;
        }
    }
    
    &__logo {
        grid-area: 1 / 1 / 2 / 2;
        place-self: center start;
        height: 30px;

        img {
            width: $logo-width-xs;
        }

        @media screen and (min-width: 375px) {
            height: 35px;
            img {
                width: $logo-width-md;
            }
        }
    }

    nav {
        grid-area: 2 / 1 / 3 / 3;
        margin: 0 auto;
    }


    @media screen and (min-width: 1160px) {
        display: flex;
        align-items: center;

        h1 {
            font-size: $heading-1-lg;
        }

        &__logo {
            height: 50px;
    
            img {
                width: $logo-width-lg;
            }
        }
    }
}
