.user-card {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;

    &__price {
        color: $tertiary-color;
        font-size: 0.75rem;
    }
}
