.user-card {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;

    &__price {
        color: $tertiary-color;
        font-size: 0.75rem;
    }

    &__avatar {
        transform-origin: bottom;
        transition: transform 150ms ease-in;
    }

    &:hover {
        > .avatar {
            transform: scale(1.1);
        }
    }
}
