header {
    @include flex-basic(row,null,null,space-between,center);
    height: 120px;
}

.logo {
    height: 50px;
    margin-left: 115px;
}

header h1 {
    color: $color_primary1;
    margin-right: 140px;
}