header {
    @include flex-basic(row, null, null, space-between, center);
    height: 120px;


    h1 {
        color: $color_primary1;
        top: 44px;
        margin-right: 100px;
        font-weight: $font_weight_small;
        font-size: $font_size_header_h1;
        line-height: 47px;
    }

    .logo,
    .logo_photographer {
        height: 50px;
    }

    .logo {
        margin-left: 115px;
    }

    .logo_photographer {
        margin-left: 100px;
        margin-top: 10px;
    }
}