.main {
  &__photographer-list {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 7rem;
    padding: 0 5rem;
    padding-top: 10rem;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    @include respond(tab-land) {
      height: 0;
      padding: 0 1rem;
      gap: 5rem;
      align-content: start;
    }
    @include respond(mobile) {
      grid-template-columns: 1fr;
      gap: 6vw;
    }
  }
}
