body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
    article  a {
        text-decoration: none;
        color: black;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
            border: solid 5px rgba(255, 255, 255, 0.479);
            box-shadow: 15px 19px 55px 24px rgba(184, 184, 189, 0.616);
            background-color: rgba(211, 211, 211, 0.548);
            animation: puff-in-center  0.9s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            &:hover {
                border: solid 5px $primary-color;
            }
        }
        h2 {
            color: $secondary-color;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 0em;
            text-align: center;
        }
        h3 {
            color: $primary-color;
            font-family: DM Sans;
            font-size: 13px;
            font-weight: 400;
            line-height: 17px;
        }
        p {
            font-size: 10px;
            font-weight: 400;
            line-height: 13px;
        }
    
    }
}
