//// MAIN PAGE /// 
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 75px;
    margin-bottom: 75px;
}

///// END MAIN PAGE // 

//////////////// PHOTOGRAPHER PAGE /////// 
#contact_modal {
    display: none;
}

.photograph-header {
    @include flex-basic(row, wrap, fled-end, space-between, null);
    background-color: $color_secondary2_bg;
    height: 300px;
    margin: 0 115px;
}

.photograph-about,
.photograph-button {
    @include flex-basic(column, null, null, center, flex-start);
}

.photograph-header h1,
h2,
h3 {
    font-family: $font_global;
}

.photograph-header h1 {
    font-size: 64px;
    color: $color_primary2;
    line-height: 83px;
}

.photograph-header h2 {
    font-size: 24px;
    line-height: 31px;
    color: $color_primary1;
}

.photograph-header h3 {
    font-size: 18px;
    line-height: 23px;
    color: $color_secondary2;
}



////////////// END PHOTOGRAPHER PAGE ////////