.main {
  &__photographer-infos {
    background-color: var(--color-grey-light);
    height: 30rem;
    margin: 0 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 5rem;
    font-weight: 400;
    @include respond(desktop) {
      flex-direction: column;
      height: 60rem;
    }
    @include respond(tab-land) {
      margin: 0 5rem;
    }
    @include respond(mobile) {
      height: 94vw;
      margin: 0 5vw;
      padding: 6.1vw;
    }
  }
  &__photographer-medias {
    margin: 0 10rem;
    @include respond(tab-land) {
      margin: 0 5rem;
    }
    @include respond(mobile) {
      margin: 0 5vw;
    }
  }
  &__photographer-text {
    white-space: nowrap;
    @include respond(desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: -1;
    }
  }
  &__photographer-image {
    @include imageMixin;
    @include respond(desktop) {
      order: -2;
    }
    @include respond(mobile) {
      height: 46vw;
      width: 46vw;
    }
  }
  &__photographer-description {
    @include respond(desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__photographer-title {
    font-size: 6.4rem;
    color: var(--color-secondary);
    margin: -0.5rem;
    @include respond(mobile) {
      font-size: 8vw;
    }
  }
  &__photographer-location {
    display: block;
    color: var(--color-primary);
    font-size: 2.4rem;
    margin-bottom: 2rem;
    @include respond(mobile) {
      font-size: 3vw;
    }
  }
  &__photographer-tagline {
    display: block;
    font-size: 1.8rem;
    @include respond(mobile) {
      font-size: 2vw;
    }
  }
  &__photographer-filter-form {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: left;
    padding: 4rem 0;
    @include respond(mobile) {
      grid-column-gap: 5.45vw;
      padding: 4.45vw 0;
    }
  }
  &__photographer-filter-label {
    font-size: 1.8rem;
    @include respond(mobile) {
      font-size: 2.44vw;
    }
  }
  &__photographer-filter-input {
    @include buttonMixin;
    @include optionLabelMixin;
    appearance: none;
    display: flex;
    align-items: center;
    input {
      opacity: 0;
      position: absolute;
    }
    &[data-clicked='true'] {
      svg {
        transform: translateY(-50%) rotate(180deg);
      }
      .main__photographer-filter-option-display {
        opacity: 1;
        visibility: visible;
      }
    }
    svg {
      width: 2.4rem;
      height: 1.5rem;
      fill: #fff;
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%) rotate(0);
      z-index: 200;
      @include respond(mobile) {
        width: 2.5vw;
        height: 1.83vw;
      }
    }
  }
  &__photographer-filter-choosen-option {
    display: block;
  }
  &__photographer-filter-option-display {
    position: absolute;
    left: 0;
    top: 11%;
    width: 17rem;
    height: 17rem;
    display: grid;
    border-radius: 0.5rem;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    @include respond(mobile) {
      width: 20.7vw;
      height: 20.7vw;
      border-radius: 0.61vw;
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 90%;
      border: 0.15rem solid #fff;
      background-color: #fff;
      left: 5%;
      z-index: 100;
      @include respond(mobile) {
        border: 0.23vw solid #fff;
      }
    }
    &::before {
      bottom: 33.3%;
    }
    &::after {
      bottom: 66.6%;
    }
  }
  &__photographer-filter-option-label {
    @include optionLabelMixin;
    color: #fff;
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    @include respond(mobile) {
      padding: 1.34vw;
      font-size: 2.44vw;
    }
  }
  &__medias-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 4rem;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    @include respond(desktop) {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }
    @include respond(mobile) {
      grid-template-columns: 1fr;
      grid-row-gap: 8.66vw;
    }
  }
  &__photographer-footer {
    position: fixed;
    bottom: 0;
    right: 5%;
    background-color: var(--color-secondary);
    width: 37.6rem;
    height: 6.9rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
  }
  &__photographer-likes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    svg {
      width: 2.1rem;
      height: 2.4rem;
    }
  }
  &__photographer-submit-btn {
    visibility: hidden;
  }
}
