

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    box-shadow: 15px 19px 55px 24px rgba(177, 177, 185, 0.322);
    border-radius: 20px;
    #sticky-user-infos {
        display: flex;
        z-index: 999;
        position: fixed;
        bottom: 0;
        right: 100px;
        padding: 20px 30px;
        background-color: #DB8876;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 600;
        flex-direction: row-reverse;
        span {
            margin-right: 10px;
        }
        i {
            padding-left: 5px;
            font-size: 0.7em;
        }
        
    }
  
    div {
        order: 1;
        h1 {
            margin-bottom: 10px;
            margin-right: 0;
            text-shadow: 2px 15px 14px rgba(65, 65, 66, 0.253);
        }
        h3 {
            color: $primary-color;
            margin-bottom: 15px;
            font-size: 1.3em;
            font-weight: 100;
            text-shadow:  2px 3px 4px rgba(65, 65, 66, 0.438);
        }
        p {
            font-size: 0.8em;
            color:  #525252;
            text-shadow:  2px 15px 14px rgba(65, 65, 66, 0.199);
        }
    }
    img {
        order: 3;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        opacity: 0.9;
        box-shadow: 15px 19px 55px 24px rgba(184, 184, 189, 0.616);
        background-color: rgba(211, 211, 211, 0.548);
        animation: puff-in-center  0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
}
#mediaContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    row-gap: 60px;
    justify-content: space-between;
    padding: 0 100px;
    article {
        animation: slide-top 1s ease-out 2.5s  both;
        img {
            
            width: 370px;
            height: 370px;
            object-fit: cover;
            object-position: top center;
            border-radius: 5px;
            box-shadow: 15px 19px 55px 24px rgba(108, 108, 110, 0.479);
        }
        video {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 15px 19px 55px 24px rgba(108, 108, 110, 0.479);
            
        }
        div {
            display: flex;
            justify-content: space-between;
            color: $primary-color;
            padding: 5px 0;
            h3 {
                font-weight: 300;
                font-family: "DM sans";
            }
            span {
                i {
                    margin-left: 3px;
                    font-size: 0.7em;
                }
            }
        }
    }
}



.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none; 
    border-radius: 5px;
}