*,
*::after,
*::before {
    /* Margin and padding */
    margin: 0;
    padding: 0;

    /* Box sizing */
    box-sizing: inherit;
}

body {
    /* Box-sizing */
    box-sizing: border-box;

    /* Fonts */
    font-family: "DM Sans", sans-serif;
}

button,
fieldset {
    background: none;
    border: none;
}

ul {
    list-style: none;
}
