// Body
body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  font-size: 14px;
  max-width: 1400px;
}

// Header
// header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   height: 90px;
// }
header {
  @include itemSpaceCenter;
  flex-direction: row;
  height: 90px;
}

// Title
h1 {
  color: $primary-dark;
  margin-right: 100px;
}

// Link
a {
  text-decoration: none;
}

// Logo
.logo {
  margin-left: 100px;
  img {
      height: 50px;
  }
}
