// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// font family
$text-font: 'DM Sans', sans-serif;
// TODO add font responsive home

/// colors
$principal-color: #901c1c;
$second-color: #d3573c;
$third-color: #db8876;
$light-grey: #fafafa;
$dark-grey: #525252;
$black: #000000;

/// radius
$box-border-radius: 5px;
$btn-border-radius: 5px;
$media-img-border-radius: 5px;
