// Title
.photographers-link {
  color: $primary-dark;
  margin-right: 100px;
}

// ID Photographer Section
.photographers-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  .photographer{
    &__link {
      @include itemCenter;
      justify-self: center;
      flex-direction: column;
    }
  }
}
.photographer {
  &__link {
    &--name {
      margin: 15px auto 5px;
      color: $primary-light;
      font-weight: 400;
      font-size: 36px;
    }
    &--photo {
      @include pictureProfil;
      transition: .2s;
    }
  }
  &__description {
  text-align: center;
    &--city {
      color: $primary-dark;
      font-size: 18px;
    }
    &--price {
      color: $secondary-dark;
    }
  }
  &__link:focus-visible {
    outline: none;
    &--photo {
      transform: scale(1.2);
      opacity: 0.85;
      transition: .2s;
    }
  }
}

// Media query
@media screen and (max-width: $medium){
  .photographers-index {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: $small){
  #header__index{
    flex-direction: column;
    margin-top: 20px;
    h1{
      margin-right: 0;
    }
  }
  .photographers-index {
    grid-template-columns: 1fr;
  }
}
