#photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

#photographer_section article, #photographer_section a {
    @include flex-cc;
    justify-self: center;
    flex-direction: column;

    h2 {
        margin: 15px auto 5px;
        color: $color-primary-light;
        font-weight: 400;
        font-size: 36px;
    }

    img {
        @include profil-picture;
        transition: .2s;
    }

    .city {
        color: $color-primary-dark;
        font-size: 18px;
    }

    .price {
        color: $color-secondary-dark;
    }
}

article a:focus-visible {
    outline: none;

    & > img {
        transform: scale(1.2);
        opacity: 0.85;
        transition: .2s;
    }
}

// article a:focus-visible > img {
//     transform: scale(1.2);
//     outline: none;
//     transition: .2s;
// }