.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    & article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & h2 {
            color: $colorSecondary;
            font-size: 36px;
        }
        & img {
            height: 200px;
            width: 200px;
        }
    }
}