.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 0;
  & article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & a {
      text-align: center;
    }
    & h2 {
      color: $primary-heading;
      font-size: 36px;
      text-align: center;
      line-height: 47px;
    }
    & .city {
      font-size: 13px;
      color: $primary-color;
      line-height: 17px;
    }
    & p {
      padding-top: 3px;
    }
    & .tagline {
      font-size: 10px;
      line-height: 13px;
    }
    & .price {
      color: $color-price;
      font-size: 9px;
      line-height: 12px;
    }
  }
}
