.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.375rem;
    margin-top: 6.25rem;
    & article {
        & a {
            display: block;
            display: flex;
            align-items: center;
            flex-direction: column;
            & h2 {
                color: $colorSecondary;
                font-size: map-get($map: $font-size, $key: title) - 1.75;
                margin-bottom: 0;
            }
            & img {
                height: 12.5rem;
                width: 12.5rem;
                object-fit: cover;
                border-radius: 50%;
                margin-top: 0.5rem;
                box-shadow: 0 0 1rem rgba(185, 184, 184, 0.685);
            }
        }
        & p {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1.5;
            margin-top: 0;
            & .location {
                font-size: map-get($map: $font-size, $key: text) + 0.375;
                color: $colorPrimary;
            }
            & .tagline {
                font-size: map-get($map: $font-size, $key: text);
            }
            & .price {
                font-size: map-get($map: $font-size, $key: text);
                color: #757575;
            }
        }
    }
}
