// Modal style

.modal {
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#757575, 0.5);
  // border: 2px solid red;
  display: none;
  &__window {
    border-radius: .3em;
    background-color: #DB8876;
    width: 41.875em;
    padding: 2em;
  }
}
