.gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @media screen and (min-width: 950px){
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media screen and (min-width: 1200px){
        grid-template-columns: repeat(3, 1fr);
        
    }
}
