.photograph-header {
    background-color: $color-secondary-light;
    height: 300px;
    margin: 0 100px;
}

#medias_section {
    @include flex-sc;
    flex-wrap: wrap;
    padding: 100px;

    figure {
        margin: 0;
    }
    figure img {
        height: 300px;
        width: 300px;
        border-radius: 5px;
        object-fit: cover;
    }
}

