.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  font-size: 1.3em;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.photographer-name {
  font-size: 2em;
  color: $primary-color-two;
  text-align: left;
}

.photographer-location {
  color: $primary-color-one;
  text-align: left;
}

.photographer-tagline {
  color: $secondary-color;
}

.photographer-img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  width: 30%;
  max-width: 200px;
}

.tri {
  display: flex;
  width: 95%;
  height: 5vw;
  margin: 0 auto;
  gap: 40px;
  position: relative;
  align-items: baseline;
  margin-bottom: 5%;
  z-index: 2;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 20px 50px 20px 20px;
      background-color: $primary-color-one;
      color: white;
      font-weight: 500;
      margin-bottom: 1px;
      cursor: pointer;
    }
  }
  i {
    position: relative;
    right: 70px;
    top: 2px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#media-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 8%;
}

.media-card {
  font-size: 1.2em;

  img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  video {
    margin-bottom: 10px;
  }
  .flex-red {
    display: flex;
    justify-content: space-between;
    color: $primary-color-one;
  }

  i {
    &:hover {
      color: lighten($color: $primary-color-one, $amount: 20%);
      cursor: pointer;
      transform: scale(1.2);
      transition: transform;
    }
  }
}

.video {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .fa-chevron-left {
    position: absolute;
    left: 5%;
    bottom: 50%;
    transform: translateY(50%);
    color: $primary-color-one;
    font-size: 3em;
  }
  .fa-chevron-right {
    position: absolute;
    right: 5%;
    bottom: 50%;
    transform: translateY(50%);
    color: $primary-color-one;
    font-size: 3em;
  }
  .fa-times {
    position: absolute;
    right: 4%;
    top: 2%;
    color: $primary-color-one;
    font-size: 3em;
  }
  img {
    height: 85vh;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  video {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.fixed-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  position: fixed;
  bottom: 0;
  right: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $primary-color-two;

  p {
    margin: 0;
    font-size: 1em;
  }
}
