/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/** 
* General styles
*/
body {
  margin: 0;
  max-width: 1440px;
  margin: auto;
}

h1,
h2 {
  margin: 0%;
}

/**
* Basic styles for links
*/
a {
  text-decoration: none;
}

/**
 * Basic typography style
 */
body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  color: #901c1c;
}

h1,
h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

/* phatographer card home page */
.photographers__section .photographer {
  text-align: center;
}
.photographers__section .photographer__name {
  color: #d3573c;
}
.photographers__section .photographer__location {
  color: #901c1c;
  font-size: 0.8125rem;
}
.photographers__section .photographer__tagline {
  font-size: 0.625rem;
}
.photographers__section .photographer__price {
  font-size: 0.5625rem;
  color: #525252;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

/**
 * Hide text while making it readable for screen readers
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 70px 100px;
}
header .logo {
  height: 50px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.photographer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer__profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}
.photographer__name {
  margin-top: 15px;
  margin-bottom: 0%;
}
.photographer p {
  margin: 0%;
  padding-top: 3px;
}

.photographers__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 50px 0px 100px 0px;
}

#contact__modal {
  display: none;
}

.photographer__header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact__button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}