/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/** 
* General styles
*/
body {
  margin: 0;
  max-width: 1440px;
  margin: auto;
}

h1,
h2 {
  margin: 0%;
}

/**
* Basic styles for links
*/
a {
  text-decoration: none;
  cursor: pointer;
}

/**
* Modal
*/
dialog {
  border: none;
}

/**
 * Basic typography style
 */
* {
  font-family: "DM Sans", sans-serif;
}

h1 {
  color: #901c1c;
}

h1,
h2 {
  font-size: 2.25em;
  font-weight: 400;
}

.name {
  color: #d3573c;
}

.location {
  color: #901c1c;
}

.button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 1.25px;
}

/* ********** form */
form .label {
  color: #312e2e;
  font-size: 2.25em;
}
form .error-message {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}
form .text-control {
  font-size: 1em;
  letter-spacing: 1.25px;
}

/* ********** home page */
/* photographer card */
.photographers__section {
  /* style with font-size more accessible */
}
.photographers__section .photographer {
  text-align: center;
}
.photographers__section .photographer__location {
  font-size: 1.2em;
}
.photographers__section .photographer__tagline {
  font-size: 0.9em;
}
.photographers__section .photographer__price {
  font-size: 0.8em;
  color: #525252;
}

/* ********** photographer page */
/***** photographer profile */
.photographer {
  /***** photographer media sorter  */
  /***** photographer infos  */
}
.photographer__presentation-name {
  font-size: 4em;
}
.photographer__presentation-location {
  font-size: 1.5em;
}
.photographer__presentation-tagline {
  font-size: 1.125em;
  color: #525252;
}
.photographer__sorter-button,
.photographer__sorter p {
  font-size: 1.125em;
  font-weight: 700;
}
.photographer__sorter-button {
  color: white;
  text-align: left;
  letter-spacing: 1.25px;
}
.photographer__infos {
  font-size: 1.5em;
  font-weight: 500;
}

/***** photographer gallery */
/* media card */
.media-card__under-picture-container {
  color: #901c1c;
}
.media-card__title, .media-card__likes {
  font-size: 1.5rem;
}
.media-card__title {
  font-weight: 400;
}
.media-card__likes {
  font-weight: 500;
}
.media-card__likes-heart {
  color: #901c1c;
  font-size: 1.3rem;
}

/***** modal  */
.modal {
  /* contact modal  */
  /* lightbox modal  */
}
.modal__contact-header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
}
.modal__contact-validation p {
  font-size: 2em;
}
.modal__lightbox-media-title {
  color: #901c1c;
  font-size: 1.5em;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

/**
 * Hide text while making it readable for screen readers
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: -1000%;
  white-space: nowrap;
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 70px 100px;
}
.header .logo {
  height: 50px;
}

.photographer__infos {
  position: fixed;
  bottom: 0px;
  right: 20px;
  display: flex;
  gap: 65px;
  background-color: #db8876;
  border-radius: 5px 5px 0px 0px;
  padding: 15px 30px;
}
.photographer__infos p {
  margin: 0%;
}
.photographer__infos-likes-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.photographer__infos-likes-heart {
  padding-bottom: 5%;
}

.modal__contact {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 35px;
  margin: auto;
}
.modal__contact-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}
.modal__contact-close-button {
  top: 10px;
  right: -15px;
}
.modal__contact-validation {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  width: 100%;
}
.modal__contact-validation p {
  margin: auto;
}
.modal__contact-validation button {
  padding: 20px 50px;
  margin-bottom: 25px;
}

#modal__lightbox {
  background-color: white;
}

.modal__lightbox {
  padding: 40px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal__lightbox-close-button {
  right: 60px;
  top: 45px;
}
.modal__lightbox-close-button .close-icon path {
  fill: #901c1c;
}
.modal__lightbox-picture {
  width: 1050px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 40%;
     object-position: center 40%;
  flex-shrink: 0;
  animation-name: modalPicture;
  animation-duration: 2s;
}
.modal__lightbox video {
  margin: 0px 35px;
}

@keyframes modalPicture {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.photographer__profile {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 70px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer__presentation-location {
  margin: 0;
}
.photographer__contact-button:hover, .photographer__contact-button:focus {
  background-color: #db8876;
  color: #000000;
}

.photographer__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 90px;
  margin: 0px auto 100px auto;
}

.photographer__sorter {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 15px 100px;
  position: relative;
}
.photographer__sorter-list {
  display: none;
  background-color: #901c1c;
  flex-direction: column;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  position: absolute;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform-origin: top;
}
.photographer__sorter-list--open {
  display: flex;
  z-index: 99;
}
.photographer__sorter-item-divider {
  width: 90%;
  height: 1px;
  background-color: white;
  margin: auto;
}
.photographer__sorter-button {
  background-color: #901c1c;
  border-radius: 5px;
  padding: 23px 10px 23px 20px;
  min-width: 200px;
}
.photographer__sorter-button-opener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 20px;
}
.photographer__sorter-button-opener-arrow {
  transform: rotate(0.5turn);
}
.photographer__sorter-arrow-close {
  position: absolute;
  right: 5%;
  top: 8%;
}

@keyframes open-sort {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.button {
  padding: 22px 11px;
  background-color: #901c1c;
  border-radius: 5px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form .formData {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}
form .text-control {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
form .textarea {
  height: 170px;
}
form .submit-button {
  padding: 23px 50px;
  margin: 26px 0px;
}
form .input-error {
  border: 2px solid #901c1c;
}
form .input-error:focus {
  outline: #901c1c;
  border: 4px solid #901c1c;
}

.photographer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__name {
  margin-top: 15px;
  margin-bottom: 0%;
}
.photographer p {
  margin: 0%;
  padding-top: 3px;
}

.media-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content 1fr;
  width: 350px;
}
.media-card__link {
  height: 300px;
  width: 350px;
  background-color: #fafafa;
}
.media-card__picture {
  height: 300px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.media-card__under-picture-container, .media-card__likes-container {
  display: flex;
}
.media-card__under-picture-container {
  justify-content: space-between;
  align-items: flex-start;
}
.media-card__under-picture-container h2,
.media-card__under-picture-container p,
.media-card__under-picture-container button {
  margin: 10px 0;
}
.media-card__likes-container {
  align-items: center;
}
.media-card__likes-button {
  border: none;
  background: none;
}

/**
* Picture style
*/
.profile-picture__container {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.profile-picture {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.5);
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}
.modal__container {
  animation-name: modalOpen;
  animation-duration: 0.5s;
}
.modal__close-button {
  position: absolute;
  background: none;
  border: none;
  padding: 15px;
}
.modal__close-button img {
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.photographers__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 70px;
  margin: 50px 0px 100px 0px;
}

.photographer__portfolio {
  display: flex;
  flex-direction: column;
}