body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-size: 35px;
  max-width: 400px;
  @media screen and (max-width: 992px) {
    font-size: 30px;
    max-width: 350px;
  }
  @media screen and (max-width: 768px) {
    font-size: 23px;
    max-width: 300px;
  }
}

h2 {
  margin: 0;
}

section {
  padding: 50px 5%;
}
*/
