
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0);
      -webkit-filter: blur(14px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  