
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0);
      -webkit-filter: blur(14px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes slide-top {
        0% {
          transform: translateY(20px);
          opacity: 0;
        }
        50% {
          transform: translateY(10px);
          opacity: 0.4;
        }
        85% {
          transform: translateY(5px);
          opacity: 0.8;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }