.btn {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 17rem;
  height: 7rem;
  border: none;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  cursor: pointer;
}
