.btn {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 17rem;
  height: 7rem;
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  &[data-first-focus='false'] {
    animation: focusOffButton 0.5s ease-in-out reverse forwards;
    &::after {
      transition: all 0.5s ease-in-out;
    }
    &::before {
      transition: all 0.5s ease-in-out;
    }
  }
  &:hover,
  &:focus {
    animation: focusButton 1.2s ease-in-out forwards;
    &::after {
      opacity: 0;
      transition: all 1.2s ease-in-out;
    }
    &::before {
      opacity: 1;
      transition: all 1.2s ease-in-out;
    }
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 1.2s ease-in-out;
  }
  &::after {
    opacity: 1;
    background-color: var(--color-primary);
  }
  &::before {
    opacity: 0;
    background-color: var(--color-secondary);
  }
  @include respond(mobile) {
    &[data--main-page='false'] {
      font-size: 2.44vw;
      padding: 1.34vw;
      width: 20.7vw;
      height: 8.52vw;
      border-radius: 0.61vw;
    }
  }
}
