.contact_button {
    order : 2;
    font-size: 1em;
    font-weight: 300;
    color: white;
    padding: 15px 20px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 12px 55px 5px rgba(131, 131, 133, 0.377);
}