.card {
  position: relative;
  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: inherit;
  }
  &__name {
    color: var(--color-secondary);
    font-size: 3.6rem;
    font-weight: bold;
  }
  &__portrait {
    height: 20rem;
    width: 20rem;
  }
}
