.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $color_primary1;
    border-radius: 5px;
    cursor: pointer;
}