.form-modal {
  &__background {
    @include modalBg;
  }
  border-radius: 0.5rem;
  background-color: var(--color-tertiary);
  width: 50%;
  max-width: 70rem;
  max-height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  margin: auto;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  @include respond(desktop) {
    width: 60%;
  }
  @include respond(mobile) {
    width: 65%;
    max-width: 100%;
    border-radius: 0.609vw;
    padding: 0.427vw 1.829vw;
  }
  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }
  &__close-btn {
    @include modalCloseBtn;
    transform: translateY(2.4rem);
    @include respond(desktop) {
      transform: translateY(1.4rem);
    }
    @include respond(mobile) {
      transform: translateY(1.71vw);
    }
  }
  &__title {
    font-size: 6.4rem;
    font-weight: normal;
    text-align: left;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    @include respond(desktop) {
      font-size: 4.4rem;
      margin-bottom: 1.1rem;
    }
    @include respond(mobile) {
      font-size: 5.37vw;
      margin-bottom: 1.34vw;
    }
  }
  &__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
  }
  &__input-label {
    color: var(--color-grey-dark);
    font-size: 3.6rem;
    line-height: 4.7rem;
    @include respond(mobile) {
      font-size: 4.39vw;
      line-height: 5.73vw;
    }
  }
  &__input-field {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    font-size: 3.6rem;
    &--text {
      height: 6.8rem;
      @include respond(mobile) {
        height: 8.29vw;
      }
    }
    @include respond(mobile) {
      border-radius: 0.609vw;
      font-size: 4.39vw;
    }
  }
  &__submit-btn {
    margin: 2.6rem 0 1.6rem 0;
    &::before {
      background-color: var(--color-primary);
    }
    @include respond(mobile) {
      margin: 3.17vw 0 1.95vw 0;
    }
  }
}
