.filter_section {
    @include flex-basic(row, null, null, null, baseline);
}

.filter_section h5 { 
    font-family: $font_global;
    font-weight: $font_weight_big;
    font-style: normal;
    font-size: 18px; 
    color: $default_font_color;
}
.filter_section select {
    margin-left: 10px;
}