main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 4rem;
  // border: 1px solid red;
}
button:focus-visible {
  outline: solid 2px $color-primary;
}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}
