body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
}

h1 {
  color: #901C1C;
  margin-right: 6.25rem;
}

.logo {
  height: 3.125rem;

  &__link {
    padding: 0.8rem;
    margin-left: 6.25rem;
  }
  &__link:focus-visible {
    outline: solid 2px $color-primary;
  }

}
