body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}
