/** modal style **/

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(white, 0.8);
  backdrop-filter: blur(2px);
}
