// Modal style

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(white, 0.8);
  backdrop-filter: blur(2px);

  // &__window {
  //   border-radius: .3em;
  //   background-color: #DB8876;
  //   width: 41.875em;
  //   padding: 2em;
  //   height: 95vh;
  // }
}
