//Mixins here

@mixin flex-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-sc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// @mixin pastille-nouveau{
//     content: "Nouveau";
//     padding: 5px 10px;
//     border-radius: 3px;
//     background-color: rgb(121, 223, 167);
//     color: rgb(31, 128, 79);
//     font-weight: 700;
//     position: absolute;
//     top: 15px;
//     right: 15px;
// }