$color-primary-dark: #901C1C;
$color-primary-light: #D3573C;
$color-secondary-dark: #525252;
$color-secondary-light: #fafafa;

$color-bg-modal: rgba(100, 100, 100, 0.8);

$break-point-tablet: 1400px;
$break-point-mobile: 950px;