/* Fonts */
$body-font: 'DM Sans', sans-serif;

/* Colors */
$main-color: #901c1c;
$secondary-color: #DB8876;
$white: #FFF;
$black: #000;
$grey: #525252;
$mediumGrey: #757575;
$green: #428e43;
$lightGrey: #FAFAFA;
$orange: #D3573C;

/* Borders */
$border-radius: 5px;

/* Typography */
$heading-1-xs: 1rem;
$heading-1-md: 1.75rem;
$heading-1-lg: 2.25rem;

/* LOGO */
/* Width */
$logo-width-xs: 125px;
$logo-width-md: 150px;
$logo-width-lg: 200px;
