$colorPrimary: #901C1C;
$colorSecondary: #D3573C;
$colorTertiary: #DB8876;
$colorQuaternary: #312E2E;
$colorQuinary: #FAFAFA;

$font-size: (
    title: 4rem,
    text: 1.125rem
);

$breakpoints: (
    mobile: 425px, // Max-width mobile L
    tablet: 768px, // Max-width tablet
    laptop: 1024px, // Max-width laptop
)