form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  label {
    color: #312e2e;
    font-size: 36px;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }
  input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }
}
