form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  label {
    color: #312e2e;
    font-size: 36px;
  }
  .formData {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    &[data-error]::after {
      content: attr(data-error);
      font-size: 22px;
      color: $primary-color;
      display: block;
      margin-top: 7px;
      margin-bottom: 7px;
      text-align: left;
      line-height: 0.3;
      opacity: 0;
      transition: 0.3s;
    }
    &[data-error-visible="true"] {
      &::after {
        opacity: 1;
      }
      .text-control {
        border: 4px solid $primary-color;
      }
    }
  }
  input,
  textarea {
    padding: 10px;
    font-size: 32px;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  textarea {
    height: 170px;
  }
  button {
    margin-top: 25px;
  }
}
