.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.625rem;
    &__logo {
        height: 3.125rem;
        margin-left: 6.25rem;
    }
    &__title {
        color: $colorPrimary;
        margin-right: 6.25rem;
    }
}
