.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-bg-modal;
    overflow: auto;
    z-index: 2;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}

.lightbox {
    &__prev {
        @include NavBtn;
        left: 0;
        transform: rotate(180deg);
    }
    &__next {
        @include NavBtn;
        right: 0;
    }
    &__close {
        width: 60px;
        height: 60px;
        cursor: pointer;
        border: none;
        background: url(/assets/icons/close.svg) center center / 30px 30px no-repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 3;
    }
}

.lightbox button{
    opacity: 1;
    transition: opacity .3s;

    &:hover {
    opacity: 0.5;
    }
    &:focus{
        border: 2px solid $color-primary-light;
        opacity: 1;
    }
}

.lightbox__container {
    @include flex-cc;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
    
    img, video {
        max-width: 100%;
        max-height: 95vh;
        animation: lightboxIn .5s;
    }
}

@media only screen and (max-width: $break-point-mobile){
    .lightbox {
        &__prev {
            
            transform: scale(2) rotate(180deg);
        }
        &__next {
            transform: scale(2);
        }
        &__close {
            transform: scale(2);
            right: 10px;
            top: 10px;
        }
    }
}