#contact-modal {
    position: fixed;
    left: 50%;
    top: 50%;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

    header {
        justify-content: space-between;
        width: 100%;

        img {
            cursor: pointer;
        }
        h2 {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    label {
        color: #312E2E;
        font-size: 36px;
    }
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }
    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}