#contact_modal {
  display: none;
  background-color: rgba(196, 196, 196, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 20px 0;
  overflow: auto;
  box-sizing: border-box;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  margin: auto;
  &__heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    margin-bottom: 20px;
    &__picture {
      cursor: pointer;
      border: 0;
      background-color: unset;
    }
    &__title {
      font-size: 64px;
      font-weight: normal;
      text-align: left;
    }
  }
}

.noscroll {
  overflow: hidden;
}
