.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    h1 {
        color: #901C1C;
        margin-right: 100px;
    }
}