:root {
  --color-primary: #901c1c;
  --color-secondary: #d3573c;
  --color-tertiary: #db8876;
  --color-grey-light: #fafafa;
  --color-grey-dark: #312e2e;
}
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-tertiary: #db8876;
$color-grey-light: #fafafa;
$color-grey-dark: #312e2e;
