@media (max-width: 1100px) {

    .photographer_section,
    .media_section {
        grid-template-columns: 1fr 1fr;
    }
    
}


@media (max-width: 800px) {

    header {
        flex-direction: column;
        margin-top: 40px;
        height:100px;

        .logo_photographer {
            margin-left: 0;
        }

        .logo,
       h1 {
            margin-left: 20px;
            margin-right: 20px;
            font-size: calc($font_size / 1.20);
        }
    }

    .margin_left_right {
        margin: 0 20px;
    }


    .filter_section {
        justify-content: space-between;
    }

}

@media (max-width: 700px) {

    .photographer_section {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 600px) {

    .media_section {
        grid-template-columns: 1fr;
    }

}