@import "../abstracts/variables";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  h1 {
    color: $dark-red;
    margin-right: 100px;
  }

  .logo {
    height: 50px;
    margin-left: 100px;
  }
}

