@import "../abstracts/variables";

#lightbox_modal {
  display: none;
  justify-content: center;

  .lightbox_modal {
    position: fixed;
    top: 50px;
    border-radius: 5px;
    background-color: white;
    max-width: 1000px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

    header {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25px;
    }

    .lightbox_img {
      img, video {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}
