// --------------------------------------------------
// Card infos component
// --------------------------------------------------

// @media screen and (max-width: 950px){
//     .card-infos{
//         position: fixed;
//         display: flex;
//         gap: 65px;
//         bottom: 0;
//         left: 0;
//         background-color: $lightRed;
//         border-radius: $borderRadius $borderRadius 0 0;
//         padding: 10px;
//         font-size: 1rem;
//         font-weight: 500;
//     }

// }


// @media screen and (min-width: 950px){
//     .card-infos{
//         position: fixed;
//         display: flex;
//         gap: 65px;
//         bottom: 0;
//         right: 0;
//         background-color: $lightRed;
//         border-radius: $borderRadius $borderRadius 0 0;
//         padding: 20px 30px;
//         font-size: 1.5rem;
//         font-weight: 500;
    
//         .nb-likes{
//             margin-right: 15px;
//         }
//     }
// }

