// form content
.form-contact{
    display: none;
    position: fixed;
    inset: 0;
    font-size: 1.5rem;
    overflow-y: auto;


    &.open{
        display: block;
    }

    &__container{
        position: relative;
        background-color: $lightRed;
        padding: 30px 15px;
        min-height: 100%;

        .form-name{ font-size: 2.25rem; margin-bottom: 20px; }
    }

    .form{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .btn-submit{ align-self: center; }


        &__item{
            display: flex;
            flex-direction: column;
            gap: 5px;

            label{ color: #312E2E;}

            input, textarea{
                background-color: $white;
                border: 2px solid transparent;
                border-radius: $borderRadius;
                min-height: 52px;
                width: 100%;
                padding: 10px;
                font-size: 1rem;
            }
    
            textarea{
                min-height: 185px;
                min-width: 100%;
                max-width: 100%;
            }

           
        }
    }

    .errorMsg{
        color: $pri-color;
        font-size: 14px;
        text-align: left;
        margin-top: 3px;
        display: none;
      }
      .error .errorMsg{
        display: block;
      }
      .error .text-control{
          border: 2px solid $pri-color;
      }

    .close{
        position: absolute;
        top: 30px;
        right: 20px;
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &::before, &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $white;
            transform-origin: center;
            transform: rotate(45deg);
        }

        &::after{
            transform: rotate(-45deg);
        }
    }

    @media screen and (min-width: 950px){
        background-color: rgba(#C4C4C4, .4);

        &__container{
            padding: 35px;
            width: 700px;
            margin: 50px auto;
            border-radius: $borderRadius;

            .form-name{ font-size: 4rem; }
        }

        .form .btn-submit{ align-self: flex-start; }

        .close{
            width: 45px;
            height: 45px;
            top: 50px;
            right: 35px;

            &::before, &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $white;
                transform-origin: center;
                transform: rotate(45deg);
            }
    
            &::after{
                transform: rotate(-45deg);
            }
        }
    }
}

.hidden {
    display: none;
  }

  .modal-body-conf{
    text-align: center;
    font-size: 33px;
    padding: 65px;
    height: 200px;
    width: 90%;
    color: white; 
}

