// // colors
// $pri-color: #901C1C;
// $sec-color: #D3573C;
// $tert-color: #525252;

// // utility color 
// $text-color: #000000;
// $bkgd-color: #EEEEEE;
// $hdr-color: #EDEDED;
// $ftr-color: #3d3d3d;

// // RESPONSIVE FILE
// // $media-md-width: 768px;
// // $media-lg-width: 1024px;
// // $media-xl-width: 1440px;

// // SKELETON
// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   text-decoration: none;
// }

// // TEXTS
// $prin-txt-color: #000000;

// $font-weights: (
//     "regular": 400,
//     "medium": 500,
//     "bold": 700
// );



// @mixin media-md {
//   @media only screen and (min-width: 768px) {
//     @content;
//   }
// }
// @mixin media-lg {
//   @media only screen and (min-width: 1024px) {
//     @content;
//   }
// }
// @mixin media-xl {
//   @media only screen and (min-width: 1440px) {
//     @content;
//   }
// }