// btn
.btn{
    min-width: 170px;
    min-height: 35px;
    border-radius: $borderRadius;
    background-color: $pri-color;
    border: none;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 5px 10px;
    font-family: "Dm Sans", sans-serif;
    color: $white;
    cursor: pointer;

    &.btn-primary{
        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    &.btn-submit{
        width: 170px;
    }

    &:hover{
        background-color: $lightRed;
        color: $text-color;
    }

   


    @media screen and (min-width: 950px){
        min-height: 69px;
        font-size: 1.25rem;
    }
}