@media screen and (min-width: 976px) {
    .header {
        font-size: 1.75rem;

        nav{
            order: 2;
        }

        h1{
            order: 3;
        }
    }
}

@media screen and (min-width: 1120px) {
    .header {
        &__logo img {
            width: 200px;
        }
        h1 {
            font-size: 2.25rem;
        }
    }
}


@media screen and (min-width: 950px){
    .card-infos{
        position: fixed;
        display: flex;
        gap: 65px;
        bottom: 0;
        right: 0;
        background-color: $lightRed;
        border-radius: $borderRadius $borderRadius 0 0;
        padding: 20px 30px;
        font-size: 1.5rem;
        font-weight: 500;
    
        .nb-likes{
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 950px){
    .card-infos{
        position: fixed;
        display: flex;
        gap: 65px;
        bottom: 0;
        left: 0;
        background-color: $lightRed;
        border-radius: $borderRadius $borderRadius 0 0;
        padding: 10px;
        font-size: 1rem;
        font-weight: 500;
    }

}




.filter{ display: none; }

@media screen and (min-width: 950px){

    .filter{
        display: flex;
        align-items: baseline;
        gap: 20px;
        margin-top: 15px;
    
        &__label{ font-size: 1.125rem; }
    
        &__wrapper{
            display: inline-block;
            position: relative;
    
            .filter-btn{
                display: inline-flex;
                justify-content: space-around;
                align-items: center;
            }
    
            .filter-btn:after{
                content: "";
                border: solid $white;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 4px;
                transform: rotate(45deg) translate3d(-25%, -25%, 0);
            }
            .filter-btn:hover::after{
                border: solid $text-color;
                border-width: 0 3px 3px 0;
            }
    
            .filter-list{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: $pri-color;
                color: $white;
                font-size: 1.25rem;
                font-weight: 500;
                border-radius: $borderRadius;
                z-index: 100;

    
                &__item{
                    line-height: 49px;
                    padding: 10px;
                    cursor: pointer;
                    border-bottom: 2px solid $white;

                    &:hover{
                        list-style: none;
                        background-color:#DB8876;
                        color: black;
                        border-radius: $borderRadius;
                    }
                    
                    &:last-child{
                        border-bottom: 0px;
                        list-style: none;
                    }
                }
            }
    
            &.open{
                .filter-btn::after{
                    transform: rotate(-135deg) translate3d(-10%, -10%, 0);
                }
            }
        }
    }
}
