/* LIGHTBOX */
#lightbox-body {
    background-color: #fff;
    height: 90%;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 3%;
    transform: translate(-50%, 0);
    width: 60%;
}

#works-lightbox-media {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    margin: 0 auto 1rem;
    overflow: hidden;
    width: 90%;
}

#works-lightbox-media img,
#works-lightbox-media video {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.close-lightbox-icon {
    color: #901C1C;
    font-size: 1.7rem;
    position: absolute;
    right: -3rem;
    top: .5rem;
}

.left-arrow-lightbox {
    color: #901C1C;
    font-size: 2rem;
    left: -3rem;
    position: absolute;
    top: 48%;
}

.right-arrow-lightbox {
    color: #901C1C;
    font-size: 2rem;
    position: absolute;
    right: -3rem;
    top: 48%;
}

aside {
    background-color: #fff;
    display: none;
    height: 200vw;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

aside article:nth-last-child(1) {
    color: #901C1C;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 600px) {
    .close-lightbox-icon {
        cursor: pointer;
        right: 1rem;
        top: .5rem;
    }

    .left-arrow-lightbox {
        cursor: pointer;
        left: 0;
        top: 48%;
    }

    .right-arrow-lightbox {
        cursor: pointer;
        right: 0;
        top: 48%;
    }

    aside article:nth-last-child(1) {
        left: 23%;
        padding: .5rem 0;
    }
}
