/**
 * Basic typography style
 */
body {
  font-family: $text-font;
}
h1 {
  color: $principal-color;
}
h1,
h2 {
  font-size: 2.25em;
  font-weight: 400;
}

.name {
  color: $second-color;
}
.location {
  color: $principal-color;
}

//TODO police plus grande et commenter celle de la maquette pour plus d'accessibilité
/* phatographer card home page */
.photographers__section {
  .photographer {
    text-align: center;
    &__location {
      font-size: 0.8125em;
    }
    &__tagline {
      font-size: 0.625em;
    }
    &__price {
      font-size: 0.5625em;
      color: $dark-grey;
    }
  }
}

/* photograph profile */
.photographer {
  &__presentation {
    &-name {
      font-size: 4em;
    }
    &-location {
      font-size: 1.5em;
    }
    &-tagline {
      font-size: 1.125em;
      color: $dark-grey;
    }
  }
}
