/**
 * Basic typography style
 */
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}
h1 {
  color: #901c1c;
  margin-right: 100px;
}

/* phatographer card home page */
.photographers__section {
  .photographer {
    text-align: center;
    &__name {
      color: #d3573c;
      font-size: 36px;
    }
    &__location {
      color: #901c1c;
    }
    &__price {
      font-weight: 400;
      &:nth-child(3) {
        color: #757575;
      }
    }
  }
}
